/* #COMPONENT - RANGE SLIDER
		1. Range slider default
*/

// 1. Range slider default
.range-slider {
	width: 100%;
}
.range-slider__input {
	appearance: none;
	width: 100%;
	height: $SPACING_8;
	border-radius: $BORDER_RADIUS_8;
	opacity: 0.7;
	transition: $TRANSITION_ALL;
	margin-bottom: $SPACING_20;
	background: $WHITE;
}
.range-slider__input:disabled,
.range-slider__input:disabled:hover {
	opacity: 0.5;
	cursor: not-allowed;
}
.range-slider__input:hover {
	opacity: 1;
}
.range-slider__input:disabled::-webkit-slider-thumb,
.range-slider__input:disabled::-moz-range-thumb {
	cursor: not-allowed;
}
.range-slider__input::-webkit-slider-thumb {
	appearance: none;
	width: $SPACING_32;
	height: $SPACING_32;
	border-radius: $BORDER_RADIUS_CIRCLE;
	background: $LIME;
	cursor: pointer;
}
.range-slider__input::-moz-range-thumb {
	width: $SPACING_32;
	height: $SPACING_32;
	border-radius: $BORDER_RADIUS_CIRCLE;
	background: $LIME;
	cursor: pointer;
}
.range-slider__value h5 {
	margin-bottom: $SPACING_16;
}
.range-slider__value:last-child {
	text-align: right;
}
