/* #COMPONENT - BUTTON */
.btn {
	font-family: $FONT_BODY;
	font-weight: 500;
	display: inline-flex;
	appearance: none;
	align-items: center;
	justify-content: center;
	user-select: none;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	outline: transparent solid 2px;
	outline-offset: 2px;
	width: auto;
	border-radius: $BORDER_RADIUS_24;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-duration: 0.3s;
	background: $LIME;
	color: $WHITE;
	cursor: pointer;
	border: none;
}
a.btn:hover,
.btn:hover {
	background: $LIGHT_GREY;
	color: $MEDIUM_LIGHT_GREY;
}
.btn:active {
	background: $LIGHT_LIME;
}
.btn--icon:active {
	background: $TRANSPARENT;
}
.btn:focus {
	box-shadow: none;
}
.btn--unstyled:active,
.btn--unstyled:hover {
	background: $TRANSPARENT;
}
.btn--unstyled:focus {
	box-shadow: none;
}
.btn[disabled],
.btn[disabled]:hover {
	background: $MEDIUM_GREY;
	color: $WHITE;
	cursor: not-allowed;
}
.btn[readonly] {
	pointer-events: none;
	background: none;
	border: none;
	color: $LIME;
}
.btn--sm {
	font-size: $BODY_TEXT_SM;
	height: $SPACING_40;
	line-height: $SPACING_24;
	border-radius: $BORDER_RADIUS_12;
	padding: $SPACING_8 $SPACING_24;
}
.btn--md {
	height: $SPACING_48;
	line-height: $SPACING_24;
	min-width: $SPACING_40;
	font-size: $BODY_TEXT;
	padding: $SPACING_12 $SPACING_32;
}
.btn--lg {
	font-size: $HEADING_FIVE;
	height: $SPACING_56;
	line-height: $SPACING_28;
	min-width: 185px;
	padding-left: $SPACING_24;
	padding-right: $SPACING_24;
	border-radius: $BORDER_RADIUS_32;
	background: $LIGHT_LIME;
	color: $LIME;
	font-weight: 500;
}
.btn--icon {
	transition: 0.3s ease;
	background: $TRANSPARENT;
}
.btn--icon:hover {
	transform: rotate(180deg);
	background: $TRANSPARENT;
}
.btn--token svg {
	fill: $WHITE;
	width: 25px;
}
.btn[disabled].btn--success {
	position: relative;
	background: $LIGHT_LIME !important;
	border: 4px solid $SUCCESS !important;
	color: $SUCCESS !important;
	opacity: 1;
	justify-content: flex-start;
}
.btn[disabled].btn--success:after {
	content: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.0455 1.16325C19.4848 1.60258 19.4848 2.3149 19.0455 2.75424L8.5455 13.2542C8.10616 13.6936 7.39384 13.6936 6.9545 13.2542L0.954505 7.25424C0.515165 6.8149 0.515165 6.10259 0.954505 5.66325C1.39384 5.22391 2.10616 5.22391 2.5455 5.66325L7.75 10.8678L17.4545 1.16325C17.8938 0.723905 18.6062 0.723905 19.0455 1.16325Z' fill='%2389D382'/%3E%3C/svg%3E%0A");
	position: absolute;
	top: 50%;
	right: 24px;
	transform: translate(0%, -50%);
	line-height: 0;
}
.btn--circle.btn[disabled] {
	opacity: 1;
	background: $MEDIUM_GREY;
	border: 2px solid $WHITE;
}
.btn--circle.btn[disabled] svg path {
	fill: $DARK_GREY;
}
.btn--circle {
	background: $LIME;
	width: $SPACING_72;
	height: $SPACING_72;
	border-radius: 50%;
	padding: 0;
	margin: -$SPACING_20 auto;
	z-index: 2;
}
.btn--circle:hover {
	background: $LIME;
}
.btn--unstyled {
	font-size: $HEADING_FIVE;
	line-height: 1.875rem;
	background: $TRANSPARENT;
	color: $LIME;
	padding: 0;
	font-weight: 500;
}
.btn--ghost {
	background: $WHITE;
	color: $LIME;
	border: 4px solid $LIGHT_LIME;
	padding: $SPACING_18 $SPACING_32;
	border-radius: $BORDER_RADIUS_32;
	height: $SPACING_64;
}
.btn--ghost[disabled],
.btn--ghost[disabled]:hover {
	background: $MEDIUM_LIGHT_GREY;
	border-color: $MEDIUM_LIGHT_GREY;
}
@media screen and (max-width: 1440px) {
	.btn--md {
		padding: $SPACING_7 $SPACING_21;
		height: $SPACING_40;
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_26;
	}
	.btn--unstyled {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_26;
	}
	.btn--ghost {
		font-size: $BODY_TEXT_SM;
		padding: $SPACING_12 $SPACING_24;
		height: $SPACING_50;
	}
}
