/* #COMPONENT - TOOLTIP
		1. Tooltip default
		2. Tooltip responsive
*/

// 1. Tooltip default
.tooltip {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	position: absolute;
	right: 0;
	background: $SUCCESS;
	color: $WHITE;
	font-size: $BODY_TEXT_SM;
	padding: $SPACING_8;
	border-radius: $BORDER_RADIUS_8;
	top: -$SPACING_48;
}
.tooltip.visible {
	opacity: 1;
}
.tooltip--icon {
	height: $SPACING_24;
	width: $SPACING_24;
	margin-left: $SPACING_10;
}
.tooltip--icon:focus {
	outline: 0;
}
.tooltip--icon path {
	fill: $WHITE;
	transition: $TRANSITION_ALL;
}
.tooltip--icon:hover path {
	fill: $LIME;
}

// 2. Tooltip responsive
@media screen and (max-width: 1440px) {
	.tooltip--icon {
		height: $SPACING_18;
		width: $SPACING_18;
		margin-left: $SPACING_8;
	}
}
