/* #COMPONENT - TOGGLE
		1. Toggle default
		2. Toggle responsive
*/

// 1. Toggle default
.toggle {
	max-width: $SPACING_870;
	margin: $SPACING_32 auto;
}
.toggle,
.toggle__buttons,
.toggle__content {
	display: flex;
}
.toggle,
.toggle__content {
	flex-direction: column;
}
.toggle {
	align-items: center;
	background: $DARK_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $SPACING_72 $SPACING_40;
	box-shadow: $BOX_SHADOW_CONTAINER;
}
.toggle__buttons {
	flex-direction: row;
	margin-bottom: $SPACING_56;
}
.toggle__buttons .btn {
	background-color: $MEDIUM_GREY;
	color: $LIME;
	border-top: $SPACING_1 solid $LIME;
	border-bottom: $SPACING_1 solid $LIME;
	border-radius: $BORDER_RADIUS_32;
	padding: $SPACING_14 $SPACING_100;
	min-height: $SPACING_56;
	line-height: $SPACING_18;
	font-weight: 300;
}
.toggle__buttons .btn:hover,
.toggle__buttons .btn.active:hover {
	background: $MEDIUM_LIGHT_GREY;
	border: $SPACING_1 solid $MEDIUM_LIGHT_GREY !important;
	color: $LIME;
}
.toggle__buttons .btn.active:hover {
	cursor: not-allowed;
}
.toggle__buttons .btn.active {
	background-color: $LIME;
	color: $DARK_GREY;
}
.toggle__buttons .btn:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-left: $SPACING_1 solid $LIME;
}
.toggle__buttons .btn:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: $SPACING_1 solid $LIME;
}
.toggle__content,
.toggle__transaction {
	width: 100%;
}
.toggle__content {
	align-items: flex-start;
}
.toggle__content .accordion {
	margin-bottom: $SPACING_48;
}
.toggle__transaction {
	display: flex;
	flex-direction: row;
}
.toggle__transaction .btn:first-child {
	margin-right: $SPACING_32;
}

// 2. Toggle responsive
@media screen and (max-width: $SPACING_990) {
	.toggle {
		padding: $SPACING_48 $SPACING_32;
	}
}
@media screen and (max-width: $SPACING_480) {
	.toggle .stepper {
		margin-bottom: $SPACING_52;
	}
	.toggle__buttons {
		margin-bottom: $SPACING_24;
	}
	.toggle__buttons .btn {
		padding: $SPACING_20 $SPACING_48;
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_18;
	}
	.toggle__content .accordion {
		padding: $SPACING_24;
		margin-bottom: $SPACING_24;
	}
	.toggle__buttons .btn,
	.toggle__transaction .btn {
		width: 50%;
	}
	.toggle__transaction .btn:first-child {
		margin-right: $SPACING_16;
	}
}
