/* #COMPONENT - TRANSACTION SUMMARY
		1. Transaction summary default
		2. Transaction summary swap
		3. Transaction summary responsive
		4. Transaction summary CHub
*/

// 1. Transaction summary default
.transaction-summary__container {
	padding: $PX_24;
	background: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	position: relative;
}
.transaction-summary__container .l-flex--row-space-between:last-child {
	margin-bottom: 0 !important;
}
.transaction-summary {
	margin-bottom: $PX_24;
}
.transaction-summary label {
	display: block;
	font-size: $PX_14;
	line-height: $PX_20;
	color: $LIGHT_GREY;
	margin-bottom: 0;
}
.transaction-summary label strong {
	color: $WHITE;
}
.transaction-summary img {
	height: $PX_56;
	width: $PX_56;
	border-radius: $BORDER_RADIUS_CIRCLE;
	margin-right: $PX_16;
}
.transaction-summary p {
	line-height: $PX_28;
	font-size: $BODY_TEXT;
	color: $WHITE;
	margin-bottom: 0;
}
.transaction-summary .svg-arrow-down {
	margin: $PX_24 $PX_10;
}

// 2. Transaction summary swap
.transaction-summary--swap {
	background: $TRANSPARENT;
}
.transaction-summary--swap h4 {
	color: $LIME;
}
.transaction-summary--swap .transaction__update h4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $WHITE;
}

// 3. Transaction summary responsive
@media screen and (max-width: $PX_480) {
	.transaction-summary--swap {
		padding: 0;
	}
}

// 4. Transaction summary CHub
.transaction-summary--chub {
	padding: $PX_32;
	margin-bottom: $PX_48;
}
