/* #COMPONENT - TOGGLE */
.toggle,
.toggle__buttons,
.toggle__content {
	display: flex;
}
.toggle,
.toggle__content {
	flex-direction: column;
}
.toggle {
	align-items: center;
	background: $WHITE;
	border-radius: $BORDER_RADIUS_32;
	padding: $SPACING_72 $SPACING_40;
	box-shadow: $BOX_SHADOW_CONTAINER;
}
.toggle__buttons {
	flex-direction: row;
	margin-bottom: $SPACING_56;
}
.toggle__buttons .btn {
	background-color: $MEDIUM_GREY;
	color: $WHITE;
	border-top: 4px solid $LIGHT_LIME;
	border-bottom: 4px solid $LIGHT_LIME;
	border-radius: $BORDER_RADIUS_24;
	padding: $SPACING_14 $SPACING_100;
	min-height: $SPACING_56;
	line-height: $SPACING_28;
}
.toggle__buttons .btn.active {
	background-color: $LIGHT_LIME;
	color: $LIME;
}
.toggle__buttons .btn:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-left: 4px solid $LIGHT_LIME;
}
.toggle__buttons .btn:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: 4px solid $LIGHT_LIME;
}
.toggle__content,
.toggle__transaction {
	width: 100%;
}
.toggle__content {
	align-items: flex-start;
}
.toggle__content h5 {
	margin-bottom: $SPACING_12;
	color: $DARK_GREY;
}
.toggle__content .accordion {
	margin-bottom: $SPACING_48;
}
.toggle__transaction {
	display: flex;
	flex-direction: row;
}
