/* #COMPONENT - DATEPICKER */
.datepicker {
	width: 50% !important;
	margin-bottom: $SPACING_XXS;
}
.datepicker i {
	color: $DEEP_BLUE;
}
.mx-table {
	color: $DEEP_BLUE;
}
.mx-calendar-content .cell.active {
	background-color: $DEEP_BLUE !important;
}
.mx-table-date .today {
	background: $GREY_LIGHT;
	color: $DEEP_BLUE !important;
}
.mx-calendar-content .cell:hover {
	color: $DEEP_BLUE !important;
	background-color: $GREY_LIGHT !important;
}
