/* #COMPONENT - STEPPER */
.stepper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: $SPACING_68;
	position: relative;
	z-index: 0;
}
.stepper__progress {
	position: absolute;
	background: $MEDIUM_LIGHT_GREY;
	height: $SPACING_4;
	border-radius: $BORDER_RADIUS_50;
	z-index: -1;
	left: 45px;
	right: 45px;
	margin: 0 auto;
}
.stepper__progress-bar {
	position: absolute;
	left: 0;
	height: 100%;
	width: 0%;
	background: $GREEN;
	transition: all 0.3s ease;
}
.stepper__panel {
	display: flex;
	flex-direction: column;
}
.stepper__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease;
}
.stepper__counter {
	height: $SPACING_32;
	width: $SPACING_32;
	display: grid;
	place-items: center;
	background: $WHITE;
	border-radius: 50%;
	border: 2px solid $MEDIUM_GREY;
	position: relative;
}
.stepper__counter svg {
	position: absolute;
	opacity: 0;
	transform: scale(0);
	transition: all 0.3s ease;
}
.stepper__number {
	transition: all 0.3s ease;
	opacity: 0;
	transform: scale(0);
}
.stepper__title {
	position: absolute;
	bottom: -$SPACING_28;
	font-size: $BODY_TEXT;
	line-height: $SPACING_28;
	color: $MEDIUM_GREY;
	font-weight: 500;
}
.stepper__loading {
	text-align: center;
}
.stepper__loading h2 {
	margin-bottom: $SPACING_XXXS;
}
.stepper__loading p {
	margin-bottom: 0;
}
.stepper__loading svg {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: $SPACING_32 auto;
}
.stepper__item.active .stepper__title {
	color: $DARK_GREY;
}
.stepper__item.active .stepper__counter {
	border: 0;
	background: $LIGHT_GREEN;
}
.stepper__item.active .stepper__number {
	background: $GREEN;
	height: $SPACING_12;
	width: $SPACING_12;
	border-radius: 50%;
	opacity: 1;
	transform: scale(1);
}
.stepper__item.success .stepper__counter {
	border-color: $TRANSPARENT;
	background-color: $LIGHT_GREEN;
	color: $WHITE;
}
.stepper__item.success .stepper__counter svg {
	opacity: 1;
	transform: scale(1);
}
.stepper__item.success .stepper__counter svg path {
	fill: $GREEN;
}
.stepper__item.success .stepper__number {
	opacity: 0;
	transform: scale(0);
}
.stepper__item.success .stepper__title {
	color: $GREEN;
}
