/* #COMPONENT - DATA CARD
		1. Data card default
		2. Data card responsive
*/

// 1. Data card default
.data-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.data-card label {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: $BODY_TEXT;
	color: $LIGHT_GREY;
	margin-bottom: $SPACING_4;
	line-height: $SPACING_30;
}
.data-card h3 {
	font-size: $HEADING_ONE;
	margin-bottom: $SPACING_14;
	line-height: $SPACING_48;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.data-card h4 {
	font-size: $HEADING_THREE;
}
.data-card .countdown__block h3 {
	font-size: $HEADING_ONE;
	margin-bottom: 0;
}
.data-card .countdown__block:last-child h3 {
	min-width: $SPACING_55;
	margin-right: 0;
}
.data-card .countdown__block p {
	color: $LIME;
}
.data-card p {
	margin-bottom: $SPACING_4;
	line-height: $SPACING_30;
	color: $LIGHT_GREY;
}
.data-card p:last-child {
	margin-bottom: 0;
}
.data-card .accordion__available {
	color: $LIGHT_GREY;
	margin-bottom: $SPACING_12;
}
.data-card sup {
	position: relative;
	font-size: $BODY_TEXT_SM;
	top: $SPACING_5;
}
.data-card--start {
	align-items: flex-start;
}
.data-card--end,
.data-card--end .btn {
	align-items: flex-end;
}

// 2. Data card responsive
@media screen and (max-width: $SPACING_1440) {
	.data-card label {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_30;
	}
	.data-card h3 {
		font-size: $HEADING_ONE_1440;
		margin-bottom: $SPACING_4;
	}
	.data-card .modal--collateral-table h4 {
		font-size: $HEADING_FOUR_1440;
	}
}
@media screen and (max-width: $SPACING_990) {
	.data-card--end,
	.data-card--end .btn {
		align-items: flex-start;
	}
}
