/* #COMPONENT - LOGO
		1. Logo default
		2. Logo responsive
*/

// 1. Logo default
.logo {
	align-self: flex-start;
	display: inherit;
	margin: $PX_24 0 $PX_64;
	padding: 0 $PX_40;
}

// 2. Logo responsive
@media screen and (max-width: $PX_1440) {
	.logo {
		margin-bottom: $PX_48;
	}
}
@media screen and (max-width: $PX_990) {
	.logo {
		padding: $PX_24;
		margin: 0;
	}
}
