/* #COMPONENT - PANEL */
.panel,
.panel__row {
	display: flex;
}
.panel {
	flex-direction: column;
	align-items: flex-start;
	background: $MEDIUM_LIGHT_GREY;
	padding: $SPACING_24;
	border-radius: $BORDER_RADIUS_16;
	position: relative;
}
.panel h3 {
	margin-bottom: $SPACING_24;
}
.panel__row {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $SPACING_18;
	width: 100%;
	position: relative;
}
.panel__row:last-child,
.panel__row p {
	margin-bottom: 0;
}
.panel__row p {
	color: $LIGHT_GREY;
}
.panel__row p,
.panel__row span {
	line-height: $SPACING_24;
}
.panel__row span,
.panel__row span a {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.panel__row span a {
	color: $WHITE;
}
.panel__row span svg,
.panel__row span a svg {
	margin-left: $SPACING_20;
	cursor: pointer;
}
.panel__row span svg path,
.panel__row span svg {
	transition: $TRANSITION_ALL;
}
.panel__row span svg:hover path {
	stroke: $LIME;
}
