/* #COMPONENT - SWAP
		1. Swap default
		2. Swap responsive
*/

// 1. Swap default
.swap {
	display: flex;
	flex-direction: column;
	background: $DARK_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $PX_32;
	box-shadow: $BOX_SHADOW_CONTAINER;
}
.swap__container {
	padding: $PX_24;
	background: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	position: relative;
}
.swap__container .accordion {
	background: $TRANSPARENT;
}
.swap .btn--icon {
	padding: 0;
	margin-left: $PX_8;
}
.swap__balance {
	margin-bottom: $PX_16;
}
.swap__balance label,
.swap__balance p {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
}
.swap__balance p {
	margin-bottom: 0;
}
.swap__slippage {
	display: flex;
	flex-direction: column;
}
.swap__slippage label {
	display: flex;
	align-items: center;
	font-size: $PX_14;
	line-height: $PX_20;
	color: $LIGHT_GREY;
	margin-bottom: $PX_16;
}
.swap__slippage label svg {
	height: $PX_20;
	width: $PX_20;
}
.swap__slippage .input span {
	color: $LIGHT_GREY;
}
.swap__output label {
	display: block;
	font-size: $PX_14;
	line-height: $PX_20;
	color: $LIGHT_GREY;
	margin-bottom: 0;
}
.swap__output label strong {
	color: $WHITE;
}
.swap__wrapper,
.swap__return {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.swap__wrapper {
	justify-content: space-between;
}
.swap__wrapper h3 sup {
	font-size: $PX_14;
	line-height: $PX_20;
	margin-left: $PX_10;
}
.swap__return {
	padding: $PX_12 $PX_16;
}
.swap__return img {
	height: $PX_24;
	width: $PX_24;
	border-radius: $BORDER_RADIUS_CIRCLE;
	margin-right: $PX_8;
}

// 2. Swap responsive
@media screen and (max-width: $PX_990) {
	.swap {
		margin-bottom: $PX_48;
	}
}
@media screen and (max-width: $PX_480) {
	.swap {
		padding: $PX_48 $PX_32;
	}
	.swap__container {
		padding: $PX_24;
	}
	.swap__output {
		padding: $PX_24;
		flex-direction: column;
		align-items: flex-start;
	}
}
