/* #COMPONENT - PAGE TITLE
		1. Page title default
		2. Page title responsive
*/

// 1. Page title default
.page-title h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: $PX_8;
}
.page-title .tooltip--icon path {
	fill: $WHITE;
}
.page-title h4,
.page-title h5,
.page-title h6 {
	color: $LIGHT_GREY;
}
.page-title h4 {
	margin-bottom: $PX_10;
}
.page-title h6 {
	font-size: $BODY_TEXT_SM;
	line-height: $PX_24;
	margin: 0;
}
.page-title p {
	font-size: $BODY_TEXT;
	line-height: $PX_24;
	margin-bottom: 0;
	color: $LIGHT_GREY;
}

// 2. Page title responsive
@media screen and (max-width: $PX_1440) {
	.page-title h4 {
		margin-bottom: $PX_2;
	}
}
@media screen and (max-width: $PX_480) {
	.page-title {
		margin-bottom: 0;
	}
}
