/* #COMPONENT - BORROW CARD
		1. Borrow card default
		2. Borrow card responsive
*/

// 1. Borrow card default
.borrow-card,
.borrow-card__asset {
	padding: $SPACING_24;
}
.borrow-card__asset,
.borrow-card__info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.borrow-card__image p,
.borrow-card__info p {
	margin-bottom: 0;
}
.borrow-card {
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_16;
	width: calc(33.3% - $SPACING_16);
	margin-right: $SPACING_24;
	margin-bottom: $SPACING_24;
}
.borrow-card:nth-child(3n) {
	margin-right: 0;
}
.borrow-card__asset {
	background: $DARK_GREY;
	border-radius: $BORDER_RADIUS_8;
	margin-bottom: $SPACING_16;
}
.borrow-card__image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: $SPACING_24;
}
.borrow-card__image img {
	margin-bottom: $SPACING_4;
}
.borrow-card__text {
	flex: 1;
}
.borrow-card__text p {
	margin-bottom: $SPACING_4;
}
.borrow-card__text h5 {
	color: $LIME;
}
.borrow-card__info {
	margin-bottom: $SPACING_8;
}
.borrow-card__info p {
	color: $LIGHT_GREY;
}
.borrow-card .btn {
	text-align: center;
	width: 100%;
	line-height: $SPACING_18;
}

// 2. Borrow card responsive
@media screen and (max-width: $SPACING_1440) {
	.borrow-card {
		margin-bottom: $SPACING_12;
		margin-right: $SPACING_12;
		width: calc(33.3% - $SPACING_8);
	}
	.borrow-card__asset {
		padding: $SPACING_32;
	}
	.borrow-card__image {
		margin-right: $SPACING_28;
	}
	.borrow-card__image img {
		margin-bottom: $SPACING_12;
		height: $SPACING_56;
		width: $SPACING_56;
	}
}
@media screen and (max-width: $SPACING_990) {
	.borrow-card {
		padding: $SPACING_16;
	}
	.borrow-card__asset {
		padding: $SPACING_16;
	}
	.borrow-card__image {
		margin-right: $SPACING_16;
	}
	.borrow-card__image img {
		height: $SPACING_48;
		width: $SPACING_48;
	}
}
@media screen and (max-width: $SPACING_480) {
	.borrow-card {
		width: 100%;
		margin-right: 0;
		padding: $SPACING_32;
	}
	.borrow-card__image {
		margin-right: $SPACING_26;
	}
	.borrow-card__image img {
		height: $SPACING_36;
		width: $SPACING_36;
	}
}
