/* #COMPONENT - SOCIAL SHARING
		1. Social sharing default
*/

// 1. Social sharing default
.share-network-twitter {
	display: inherit;
	margin-left: $PX_24;
}
.share-network-twitter:hover svg path {
	fill: $LIME;
}
.share-network-twitter svg {
	height: $PX_24;
}
.share-network-twitter svg path {
	transition: $TRANSITION_ALL;
	fill: $WHITE;
}
