/* #COMPONENT - TOKEN
		1. Token default
		2. Token responsive
*/

// 1. Token default
.token {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: $SPACING_12;
	transition: $TRANSITION_ALL;
}
.token:hover {
	background: $DARK_GREY;
	border-radius: $BORDER_RADIUS_8;
}
.token__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.token__wrapper .disabled {
	opacity: 0.4;
}
.token img {
	width: $SPACING_36;
	height: $SPACING_36;
	border-radius: $BORDER_RADIUS_CIRCLE;
	margin-right: $SPACING_16;
}
.token h3,
.token p,
.token h5 {
	color: $WHITE;
}
.token h3 {
	font-size: $HEADING_FOUR;
	line-height: $SPACING_36;
}
.token p {
	font-size: $HEADING_FIVE;
	line-height: $SPACING_24;
	margin-bottom: 0;
}
.token h5 {
	font-size: $BODY_TEXT;
	line-height: $SPACING_30;
}

// 2. Token responsive
@media screen and (max-width: $SPACING_480) {
	.token h3 {
		font-size: $HEADING_FOUR_480;
		line-height: $SPACING_26;
	}
	.token p {
		font-size: $HEADING_FIVE_480;
		line-height: $SPACING_18;
	}
}
