/* #COMPONENT - RANGE SLIDER
		1. Range slider default
*/

// 1. Range slider default
.range-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.range-slider__header {
	max-width: $PX_175;
	margin-bottom: $PX_21;
}
.range-slider__header label {
	display: block;
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
	margin-bottom: $PX_8;
	text-align: center;
}
.range-slider__addon,
.range-slider__addon input {
	background-color: $MEDIUM_GREY;
	color: $LIME;
	font-size: $HEADING_THREE;
	line-height: $PX_45;
}
.range-slider__addon {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: $BORDER_RADIUS_48;
	padding: $PX_16 $PX_32;
}
.range-slider__addon:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, 0);
	border-left: $PX_15 solid transparent;
	border-right: $PX_15 solid transparent;
	border-top: $PX_15 solid $MEDIUM_GREY;
}
.range-slider__addon input {
	font-weight: 500;
	padding: 0;
	text-align: right;
	text-shadow: 0px 0px 30px rgba(128, 255, 74, 0.2);
}
.range-slider__wrapper {
	background-color: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_16 $PX_24;
	width: 100%;
}
.range-slider__labels {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.range-slider__labels p {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
	margin-bottom: 0;
}
input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: $PX_8;
	background: $DISABLED_GREY;
	border-radius: $PX_24;
	background-image: linear-gradient(#b7b7b7, #b7b7b7);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: $PX_18;
	width: $PX_18;
	border-radius: 50%;
	background: $LIME;
	cursor: ew-resize;
	box-shadow: $BOX_SHADOW_CONTAINER;
	transition: $TRANSITION_ALL;
}
input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: $PX_18;
	width: $PX_18;
	border-radius: 50%;
	background: $LIME;
	cursor: ew-resize;
	box-shadow: $BOX_SHADOW_CONTAINER;
	transition: $TRANSITION_ALL;
}
.range-slider__addon input[disabled],
.range-slider__addon .is-disabled,
.range-slider__input[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}
.range-slider__addon .is-disabled {
	color: $ERROR;
}
