/* #COMPONENT - DROPDOWN
		1. Dropdown default
*/

// 1. Dropdown default
.dropdown {
	position: relative;
}
.dropdown__menu {
	background-color: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translate(0, -50%);
	z-index: 1;
	box-shadow: $BOX_SHADOW_DROPDOWN;
}
.dropdown__menu-item {
	color: $WHITE;
	padding: $PX_8 $PX_24;
	transition: $TRANSITION_ALL;
	border-bottom: $PX_1 solid $HIGHLIGHT_GREY;
}
.dropdown__menu-item:last-child {
	border-bottom: 0;
}
.dropdown__menu-item:hover {
	background-color: $LIME;
	color: $DARK_GREY;
	cursor: pointer;
}
.dropdown__menu-item:first-child:hover {
	border-top-left-radius: $BORDER_RADIUS_8;
	border-top-right-radius: $BORDER_RADIUS_8;
}
.dropdown__menu-item:last-child:hover {
	border-bottom-left-radius: $BORDER_RADIUS_8;
	border-bottom-right-radius: $BORDER_RADIUS_8;
}
