/* #COMPONENT - TRANSACTION SUMMARY
		1. Transaction summary default
		2. Transaction summary swap
		3. Transaction summary responsive
		4. Transaction summary CHub
*/

// 1. Transaction summary default
.transaction-summary {
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_16;
	margin-bottom: $SPACING_48;
	background: $MEDIUM_LIGHT_GREY;
}
.transaction-summary img {
	height: $SPACING_56;
	width: $SPACING_56;
	border-radius: $BORDER_RADIUS_CIRCLE;
	margin-right: $SPACING_16;
}
.transaction-summary p {
	line-height: $SPACING_28;
	font-size: $BODY_TEXT;
	color: $WHITE;
	margin-bottom: 0;
}
.transaction-summary .svg-arrow-down {
	margin: $SPACING_24 $SPACING_10;
}
.transaction__update {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: $SPACING_32;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	margin: $SPACING_32 0;
}

// 2. Transaction summary swap
.transaction-summary--swap {
	background: $TRANSPARENT;
}
.transaction-summary--swap h4 {
	color: $LIME;
}
.transaction-summary--swap .transaction__update h4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $WHITE;
}

// 3. Transaction summary responsive
@media screen and (max-width: $SPACING_480) {
	.transaction-summary--swap {
		padding: 0;
	}
}

// 4. Transaction summary CHub
.transaction-summary--chub {
	padding: $SPACING_32;
	margin-bottom: $SPACING_48;
}
