/* #COMPONENT - TRANSACTION INPUT */
.transaction-input .input {
	margin-bottom: $SPACING_XXS;
}
.transaction-input__price {
	margin-bottom: $SPACING_MD;
	min-height: 55px;
}
.data-card .transaction-input__price p {
	color: $LIME;
}
.transaction-input__buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.transaction-input__buttons .btn {
	text-transform: capitalize;
}
.transaction-input__buttons .btn:first-child {
	margin-right: $SPACING_16;
	background: $LIME;
	color: $LIME;
}
.transaction-input__buttons .btn:last-child {
	flex: 1;
}
