/* #COMPONENT - GAS
		1. Gas default
*/

// 1. Gas default
.gas {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: $MEDIUM_LIGHT_GREY;
	padding: $PX_4;
	border-radius: $BORDER_RADIUS_4;
}
.gas p {
	margin-bottom: 0;
}
