/* #COMPONENT - COLLATERAL TABLE
		1. Collateral table default
		2. Collateral table responsive
*/

// 1. Collateral table default
.collateral-table {
	width: 100%;
}
.collateral-table h4 {
	font-size: $HEADING_FOUR !important;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.collateral-table h4 svg {
	margin-right: $SPACING_14;
}
.collateral-table__container {
	display: block;
	width: 100%;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_24;
	padding: $SPACING_32;
	overflow-y: auto;
	max-height: $SPACING_500;
}
.collateral-table__container::-webkit-scrollbar {
	background: $MEDIUM_GREY;
	width: 0.5rem;
	border-radius: $BORDER_RADIUS_8;
}
.collateral-table__container::-webkit-scrollbar-thumb {
	background: $LIME;
	height: $SPACING_16;
	border-radius: $BORDER_RADIUS_8;
}
.collateral-table__row {
	display: flex;
	flex-flow: row wrap;
	border-bottom: $SPACING_1 solid $WHITE;
	padding: $SPACING_30 0;
}
.collateral-table__row:first-child {
	padding: 0 0 $SPACING_30;
}
.collateral-table__row:first-child h5 {
	color: $LIGHT_GREY;
}
.collateral-table__row h5 {
	color: $WHITE;
}
.collateral-table__cell {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: calc(100% / 3);
}
.collateral-table__cell svg {
	margin-right: $SPACING_12;
}
.collateral-table__cell:nth-child(3) {
	justify-content: flex-end;
}

// 2. Collateral table responsive
@media screen and (max-width: $SPACING_1440) {
	.collateral-table__row {
		padding: $SPACING_24 0;
	}
}
@media screen and (max-width: $SPACING_990) {
	.collateral-table__container {
		padding: $SPACING_24;
	}
	.collateral-table__row {
		padding: $SPACING_12 0;
	}
	.collateral-table__row:first-child {
		padding: 0 0 $SPACING_12;
	}
}
