/* #COMPONENT - BUTTON
		1. Button default
		2. Button sizes
		3. Button icon
		4. Button swap
		5. Button link
		6. Button user
		7. Button back
		8. Button dropdown
*/

// 1. Button default
.btn {
	font-family: $FONT_BODY;
	appearance: none;
	user-select: none;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: $BORDER_RADIUS_24;
	transition: $TRANSITION_ALL;
	background: $LIME;
	color: $DARK_GREY;
	border: $PX_1 solid $LIME;
	cursor: pointer;
	outline: 0;
}
a.btn:hover,
.btn:hover {
	background: $DARK_GREY;
	color: $LIME;
}
.btn:active {
	background: $LIGHT_LIME;
}
.btn[disabled],
.btn[disabled]:hover {
	background: $DISABLED_GREY;
	color: $LIGHT_GREY;
	cursor: not-allowed;
	border-color: $MEDIUM_LIGHT_GREY;
}

// 2. Button sizes
.btn--xs {
	font-size: $BODY_TEXT_XS;
	line-height: $PX_16;
	height: $PX_40;
	border-radius: $BORDER_RADIUS_4;
	padding: $PX_8 $PX_24;
	background: $LIME;
	color: $DARK_GREY;
}
.btn--sm {
	font-size: $BODY_TEXT;
	line-height: $PX_16;
	height: $PX_40;
	border-radius: $BORDER_RADIUS_4;
	padding: $PX_8 $PX_24;
	background: $LIME;
	color: $DARK_GREY;
}
.btn--md {
	height: $PX_42;
	padding: $PX_8 $PX_64;
	font-size: $PX_14;
}
.btn--lg {
	height: $PX_56;
	padding: $PX_16;
}
@media screen and (max-width: $PX_1440) {
	.btn--md,
	.btn--lg {
		font-size: $HEADING_FIVE_1440;
		line-height: $PX_18;
	}
	.btn--md {
		height: $PX_40;
		padding: $PX_10 $PX_24;
	}
	.btn--lg {
		height: $PX_48;
		padding: $PX_16 $PX_24;
	}
}
@media screen and (max-width: $PX_990) {
	.btn--md,
	.btn--lg {
		font-size: $HEADING_FIVE_990;
		line-height: $PX_12;
	}
	.btn--md {
		height: $PX_38;
	}
	.btn--lg {
		height: $PX_44;
	}
}
@media screen and (max-width: $PX_480) {
	.btn--md,
	.btn--lg {
		font-size: $HEADING_FIVE_480;
		line-height: $PX_14;
		padding: $PX_12;
		height: $PX_42;
	}
}

// 3. Button icon
.btn--icon,
.btn--icon:hover,
.btn--icon:active {
	background: $TRANSPARENT;
	border: 0;
}
.btn--icon {
	display: inline-flex;
	transition: $TRANSITION_ALL;
}
.btn--icon:hover {
	transform: rotate(180deg);
}

// 4. Button swap
.btn--swap {
	background: $LIME;
	border-radius: $BORDER_RADIUS_CIRCLE;
	border: $PX_2 solid $DARK_GREY;
	padding: 0;
	margin: -$PX_20 auto;
	z-index: 2;
	width: $PX_48;
	height: $PX_48;
	position: relative;
}
.btn--swap svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn--swap:hover {
	background: $LIME;
}
.btn--swap.btn[disabled] {
	opacity: 1;
	background-color: $LIGHT_GREY;
}
.btn--swap.btn[disabled] svg path {
	fill: $DARK_GREY;
}
@media screen and (max-width: $PX_480) {
	.btn--swap {
		height: $PX_48;
		width: $PX_48;
	}
	.btn--swap img {
		height: $PX_35;
		width: $PX_35;
		padding: $PX_6;
	}
}

// 5. Button link
.btn--link {
	font-size: $HEADING_FIVE;
	line-height: $PX_24;
	background: $TRANSPARENT;
	color: $WHITE;
	padding: 0;
	border: 0;
}
.btn--link:after {
	content: "";
	position: absolute;
	height: $PX_1;
	left: 0;
	right: 0;
	bottom: $PX_1;
	background: $WHITE;
	transition: $TRANSITION_ALL;
}
.btn--link:active,
.btn--link:hover {
	background: $TRANSPARENT !important;
	color: $LIME !important;
}
.btn--link:hover:after {
	background: $LIME;
}
@media screen and (max-width: $PX_1440) {
	.btn--link {
		font-size: $HEADING_FIVE_1440;
		line-height: $PX_26;
	}
}
@media screen and (max-width: $PX_990) {
	.btn--link {
		font-size: $HEADING_FIVE_990;
		line-height: $PX_18;
	}
}
@media screen and (max-width: $PX_480) {
	.btn--link {
		font-size: $HEADING_FIVE_480;
		line-height: $PX_24;
	}
}

// 6. Button user
.btn--user {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.btn--user:hover svg path {
	fill: $LIME;
}
.btn--user svg {
	margin-right: $PX_8;
}
.btn--user svg path {
	transition: $TRANSITION_ALL;
	fill: $DARK_GREY;
}

// 7. Button back
.btn--back {
	background: $TRANSPARENT;
	color: $LIME;
}
.btn--back:hover {
	background: $MEDIUM_GREY;
	border-color: $DARK_GREY;
}

// 8. Dropdown
.btn--dropdown {
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_CIRCLE;
	border: none;
	z-index: 2;
	width: $PX_36;
	height: $PX_36;
	display: flex;
	align-items: center;
	justify-content: center;
}
