/* #COMPONENT - PROGRESS
		1. Progress default
		2. Progress balance
		3. Progress locked
		4. Progress staked
		5. Progress responsive
*/

// 1. Progress default
.progress {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.progress h5 {
	text-align: right;
	min-width: $PX_55;
}
.progress__bar {
	height: $PX_8;
	border-radius: $BORDER_RADIUS_8;
	margin-right: $PX_16;
}

// 2. Progress balance
.progress__bar--balance {
	background: $LIME;
}

// 3. Progress locked
.progress__bar--locked {
	background: $TOURQUISE;
}

// 4. Progress staked
.progress__bar--staked {
	background: $LIGHT_GREY;
}

// 5. Progress responsive
