/* #COMPONENT - DATEPICKER */
.datepicker {
	width: 50% !important;
	margin-bottom: $SPACING_12;
}
.datepicker i {
	color: $LIME;
}
.mx-table {
	color: $LIME;
}
.mx-calendar-content .cell.active {
	background-color: $LIME !important;
}
.mx-table-date .today {
	background: $LIGHT_GREY;
	color: $LIME !important;
}
.mx-calendar-content .cell:hover {
	color: $LIME !important;
	background-color: $LIGHT_GREY !important;
}
