/* #COMPONENT - LOADER
		1. Loader default
		2. Loader H1
		3. Loader H2
		4. Loader H3
		5. Loader H4
		6. Loader H5
		7. Loader P
		8. Loader content block
		9. Loader inline list
		10. Loader badge
		11. Loader donut
		12. Loader table
		13. Loader responsive
*/

// 1. Loader default
.loader {
	width: 100%;
	background: $MEDIUM_GREY;
	position: relative;
	overflow: hidden;
	border-radius: $BORDER_RADIUS_4;
}
.loader:before {
	content: "";
	animation: loading 1s infinite;
	animation-timing-function: ease-in-out;
	background-image: linear-gradient(
		to left,
		rgba(24, 24, 26, 0.4),
		rgba(24, 24, 26, 0.7),
		rgba(24, 24, 26, 0.9),
		rgba(24, 24, 26, 0.7),
		rgba(24, 24, 26, 0.4)
	);
	position: absolute;
	left: 0;
	transform: translateX(-150%);
	height: 100%;
	width: 50%;
}
@keyframes loading {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(200%);
	}
}
.loader--default {
	height: $SPACING_36;
}

// 2. Loader H1
.loader--h1 {
	height: $SPACING_48;
	width: $SPACING_250;
	margin-bottom: $SPACING_14;
}

// 3. Loader H2
.loader--h2 {
	height: $SPACING_32;
	width: $SPACING_250;
	margin-bottom: $SPACING_24;
}

// 4. Loader H3
.loader--h3 {
	height: $SPACING_45;
	width: $SPACING_210;
}

// 5. Loader H4
.loader--h4 {
	height: $SPACING_24;
	width: $SPACING_80;
}

// 6. Loader H5
.loader--h5 {
	height: $SPACING_24;
	width: $SPACING_80;
}

// 7. Loader P
.loader--p {
	height: $SPACING_24;
	width: $SPACING_150;
}

// 8. Loader content block
.loader--content-block {
	height: $SPACING_250;
	background: $DARK_GREY;
	margin-bottom: $SPACING_48;
}
.loader--content-block:before {
	background-image: linear-gradient(
		to left,
		rgba(38, 38, 38, 0.4),
		rgba(38, 38, 38, 0.7),
		rgba(38, 38, 38, 0.9),
		rgba(38, 38, 38, 0.7),
		rgba(38, 38, 38, 0.4)
	);
}

// 9. Loader inline list
.loader--inline-list {
	height: $SPACING_30;
	width: $SPACING_150;
}

// 10. Loader badge {
.loader--badge {
	height: $SPACING_30;
	width: $SPACING_70;
}

// 11. Loader donut
.loader--donut-claimable {
	width: $SPACING_419;
	height: $SPACING_320;
}

// 12. Loader table
.loader--table {
	height: $SPACING_375;
}

// 13. Loader responsive
@media screen and (max-width: $SPACING_1440) {
	.loader--h1 {
		width: $SPACING_190;
		margin-bottom: $SPACING_2;
	}
	.loader--h3 {
		width: $SPACING_100;
		height: $SPACING_36;
	}
}
