/* #COMPONENT - DATA CARD */
.data-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.data-card label {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: $HEADING_FIVE;
	color: $MEDIUM_PURPLE_GREY;
	font-weight: 400;
	margin-bottom: $SPACING_4;
	line-height: $SPACING_30;
}
.data-card h3 {
	font-size: $HEADING_ONE;
	margin-bottom: $SPACING_14;
	line-height: $SPACING_48;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.data-card h4 {
	font-size: $HEADING_THREE;
}
.data-card .countdown__block h3 {
	font-size: $HEADING_ONE;
	margin-bottom: 0;
}
.data-card .countdown__block:last-child h3 {
	min-width: 55px;
	margin-right: 0;
}
.data-card .countdown__block p {
	color: $DARK_BLUE;
}
.data-card p {
	margin-bottom: $SPACING_4;
	line-height: $SPACING_30;
	color: $MEDIUM_PURPLE_GREY;
}
.data-card p:last-child {
	margin-bottom: 0;
}
.data-card .accordion__available {
	color: $DARK_GREY;
	margin-bottom: $SPACING_12;
	font-weight: 500;
}
.data-card sup {
	position: relative;
	font-size: $BODY_TEXT_SM;
	top: 5px;
}
.data-card--start {
	align-items: flex-start;
}
.data-card--end,
.data-card--end .btn {
	align-items: flex-end;
}
@media screen and (max-width: 1440px) {
	.data-card label {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_30;
	}
	.data-card h3 {
		font-size: $HEADING_ONE_1440;
		margin-bottom: $SPACING_4;
	}
}
@media screen and (max-width: 990px) {
	.data-card--end,
	.data-card--end .btn {
		align-items: flex-start;
	}
}
