/* #COMPONENT - TRANSACTION INPUT
		1. Transaction input default
*/

// 1. Transaction input default
.transaction-input__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: $SPACING_16;
}
.transaction-input__title label {
	color: $LIGHT_GREY;
	font-size: $SPACING_14;
	line-height: $SPACING_20;
}
