/* #COMPONENT - COUNTDOWN
		1. Countdown default
*/

// 1. Countdown default
.countdown {
	display: flex;
	flex-direction: row;
}
.countdown h3 {
	font-size: $HEADING_THREE;
}
.countdown__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 0.25rem;
}
.countdown__block:last-child {
	margin-right: 0;
}
.countdown__block h3 {
	margin-right: 0.25rem;
}
.countdown__block p {
	text-transform: uppercase;
	background: $DARK_GREY;
	padding: 0 0.375rem;
	border-radius: 4px;
}
.countdown__placeholder sup {
	font-family: $FONT_BODY;
	background: $DARK_GREY;
	border-radius: $BORDER_RADIUS_4;
	padding: 0 $SPACING_6;
	margin: 0 $SPACING_8;
}
