/* #COMPONENT - TOAST
		1. Toast default
		2. Toast success
		3. Toast failure
*/

// 1. Toast default
.toast {
	position: fixed;
	top: $PX_82;
	right: $PX_100;
	border-radius: $BORDER_RADIUS_8;
	z-index: 4;
	padding: $PX_24;
	min-width: $PX_425;
	background: $DARK_GREY;
}
.toast__header,
.toast__header span {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.toast__header {
	margin-bottom: $PX_8;
	justify-content: space-between;
}
.toast__header span svg {
	margin-right: $PX_16;
}
.toast__header h4 {
	font-size: $PX_18;
	line-height: $PX_22;
	font-weight: 500;
	margin-bottom: 0;
	text-transform: capitalize;
}
.toast__body {
	padding-left: $PX_40;
}
.toast__body p,
.toast__body a {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
	margin-bottom: 0;
	transition: $TRANSITION_ALL;
}
.toast__body a:hover {
	color: $WHITE;
}
.toast-slide-enter-active {
	transition: $TRANSITION_ALL;
}
.toast-slide-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.toast-slide-enter,
.toast-slide-leave-to {
	transform: translateX($PX_10);
	opacity: 0;
}

// 2. Toast success
.toast--success h4 {
	color: $SUCCESS;
}

// 3. Toast failure
.toast--failure h4 {
	color: $ERROR;
}
