/* #COMPONENT - CHART
		1. Chart default
		2. Chart responsive
*/

// 1. Chart default
.chart {
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $SPACING_32;
}

// 2. Chart responsive
