/* #COMPONENT - TOAST
		1. Toast default
		2. Toast success
		3. Toast failure
*/

// 1. Toast default
.toast {
	position: fixed;
	top: $SPACING_32;
	right: $SPACING_32;
	border-radius: $BORDER_RADIUS_16;
	z-index: 4;
	padding: $SPACING_32;
	min-width: $SPACING_425;
	background: $DARK_GREY;
}
.toast__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $SPACING_12;
}
.toast__header p {
	font-size: $BODY_TEXT;
	line-height: $SPACING_30;
	margin-bottom: 0;
}
.toast__header svg path {
	stroke: $WHITE;
}
.toast__body a {
	color: $WHITE;
}
.toast-slide-enter-active {
	transition: $TRANSITION_ALL;
}
.toast-slide-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.toast-slide-enter,
.toast-slide-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

// 2. Toast success
.toast--success p,
.toast--success h4 {
	color: $SUCCESS;
}

// 3. Toast failure
.toast--failure p,
.toast--failure h4 {
	color: $ERROR;
}
