/* #COMPONENT - WALLET
		1. Wallet default
		2. Wallet responsive
*/

// 1. Wallet default
.wallet {
	margin-bottom: $SPACING_40;
}
.wallet .btn {
	width: 100%;
}

// 2. Wallet responsive
@media screen and (max-width: $SPACING_1440) {
	.wallet {
		margin-bottom: $SPACING_24;
	}
}
@media screen and (max-width: $SPACING_990) {
	.wallet .btn {
		width: auto;
	}
}
