/* #COMPONENT - BADGE */
.badge {
	font-weight: 500;
	border-radius: $BORDER_RADIUS_4;
	padding: $SPACING_6 $SPACING_16;
	font-size: $BODY_TEXT_SM;
	text-transform: uppercase;
}
.badge--green {
	background: $GREEN;
}
.badge--red {
	background: $RED;
}
.badge--blue {
	background: $LIGHT_BLUE;
	color: $BLUE;
}
.badge--pink {
	background: $PINK;
}
.badge--grey {
	background: $MEDIUM_LIGHT_GREY;
	color: $DARK_GREY;
}
.badge--yellow {
	background: $LIGHT_YELLOW;
	color: $WARNING;
}
