/* #COMPONENT - VUE TOUR
		1. Vue tour default
*/

// 1. Vue tour default
.v-step {
	background: $DARK_GREY !important;
	border-radius: 0px $BORDER_RADIUS_24 $BORDER_RADIUS_24 $BORDER_RADIUS_24 !important;
	max-width: $PX_600 !important;
	text-align: left !important;
	box-shadow: 0px 0px 50px rgba(223, 255, 101, 0.3) !important;
	padding: $PX_32 !important;
}
.v-step__header {
	@extend h4;
	background: $DARK_GREY !important;
	color: $WHITE !important;
	padding: 0 !important;
	margin: 0 !important;
	margin-bottom: $PX_12 !important;
}
.v-step__arrow:before {
	display: none !important;
}
.v-step__content {
	text-align: left !important;
	color: $LIGHT_GREY !important;
	margin-bottom: $PX_32 !important;
}
.v-step__button {
	transition: $TRANSITION_ALL !important;
	font-family: $FONT_BODY !important;
	font-size: $BODY_TEXT_SM !important;
	line-height: $PX_16 !important;
	height: $PX_40 !important;
	border-radius: $BORDER_RADIUS_4 !important;
	padding: $PX_8 !important;
	background: $DARK_GREY !important;
	border: $PX_1 solid $LIGHT_GREY !important;
	color: $LIGHT_GREY !important;
}
.v-step__button:hover {
	border: $PX_1 solid $LIME !important;
	color: $LIME !important;
}
.v-step__button-skip {
	color: $HIGHLIGHT_LIGHT_GREY !important;
	border: none !important;
}
.v-step__button-skip:hover {
	border: none !important;
}
.v-step__buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
