/* #COMPONENT - NOTIFICATION
		1. Notification default
		2. Notification responsive
*/

// 1. Notification default
.notification {
	padding: $PX_12 $PX_24;
	border-radius: $BORDER_RADIUS_8;
	border: $PX_1 solid;
	text-align: center;
}
.notification p {
	margin-bottom: 0;
	color: $WHITE !important;
}
.notification.normal {
	background: $DARK_GREY;
	border-color: $MEDIUM_LIGHT_GREY;
}
.notification.high {
	background: $ERROR_RGBA;
	border-color: $ERROR;
}
.notification.medium {
	background: $WARNING_RGBA;
	border-color: $WARNING;
}
.notification.low {
	background: $SUCCESS_RGBA;
	border-color: $SUCCESS;
}
