/* #COMPONENT - CLAIM WITHDRAW
		1. Claim withdraw default
*/

// 1. Claim withdraw default
.claim-withdraw {
	background-color: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_24;
	margin-bottom: $PX_24;
}
.claim-withdraw label {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
}
.claim-withdraw__wrapper,
.claim-withdraw__token,
.claim-withdraw__title {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.claim-withdraw__title {
	justify-content: space-between;
	margin-bottom: $PX_16;
}
.claim-withdraw__wrapper {
	justify-content: space-between;
}
.claim-withdraw__token svg {
	margin-right: $PX_8;
}
.claim-withdraw__value {
	text-align: right;
}
.claim-withdraw__value sup {
	font-size: $PX_14;
	line-height: $PX_20;
	margin-left: $PX_10;
}
