/* #COMPONENT - INPUT
		1. Input default
		2. Input responsive
*/

// 1. Input default
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input:not([type="range"]) {
	font-family: $FONT_BODY;
	font-size: $BODY_TEXT;
	appearance: none;
	width: 100%;
	padding-right: $SPACING_16;
	border: 0;
	line-height: $SPACING_30;
}
input::placeholder,
textarea::placeholder {
	color: $LIGHT_GREY;
	font-size: $SPACING_14;
}
textarea:focus,
input:focus {
	outline: 0;
}
textarea {
	resize: vertical;
}
.input-wrapper,
.input-token {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.input-token {
	min-width: $SPACING_120;
	margin-right: $SPACING_32;
}
.input-token svg {
	margin-right: $SPACING_8;
}
.input,
.input__container {
	background: $TRANSPARENT;
}
.input {
	width: 100%;
	border: $SPACING_1 solid $HIGHLIGHT_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	margin-bottom: $SPACING_8;
}
.input input {
	color: $WHITE;
	line-height: $SPACING_24;
	padding: 0;
	margin-right: $SPACING_8;
	text-align: right;
	background: $TRANSPARENT;
}
.input__container {
	padding: $SPACING_12 $SPACING_8;
	height: $SPACING_48;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.input__container .btn {
	padding: $SPACING_4 $SPACING_12;
	height: $SPACING_32;
	font-size: $SPACING_12;
	line-height: $SPACING_24;
}

// 2. Input responsive
@media screen and (max-width: $SPACING_480) {
	input {
		font-size: $HEADING_FIVE_480;
		line-height: $SPACING_18;
	}
}
