/* #COMPONENT - CHART
		1. Chart default
		2. Chart token price
		3. Chart responsive
*/

// 1. Chart default
.chart {
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $SPACING_32;
}
.chart__container {
	width: 100%;
	height: 100%;
	position: relative;
}
.chart p {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $LIGHT_GREY;
	margin-bottom: 0;
}
.chart__overview {
	display: flex;
	flex-direction: column;
}
.chart-donut .apexcharts-canvas {
	background-color: $TRANSPARENT;
}
.apexcharts-canvas {
	background-color: $HIGHLIGHT_GREY;
	border-radius: $BORDER_RADIUS_16;
}

// 2. Chart token price
.chart--token-price .tabs {
	position: relative;
}
.chart--token-price .tabs:first-child {
	padding-top: $SPACING_43;
}
.chart--token-price .tabs__header {
	position: absolute;
	top: -$SPACING_96;
	right: 0;
}
.chart--token-price .u-mb-absolute {
	top: -$SPACING_34;
}

// 2. Chart responsive
