/* #COMPONENT - PROPOSAL */
.proposal,
.proposal__left,
.proposal__right {
	display: flex;
}
.proposal {
	width: 100%;
	background: $WHITE;
	border-radius: $BORDER_RADIUS_16;
	position: relative;
	margin-bottom: $SPACING_32;
}
.proposal:last-child {
	margin-bottom: 0;
}
.proposal a {
	display: grid;
	grid-template-columns: calc(70% - 20px) 30%;
	grid-gap: $SPACING_32;
	width: 100%;
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_16;
	transition: background-color 0.3s ease;
}
.proposal a:hover {
	background-color: $LIGHT_PURPLE;
}
.proposal h4 {
	color: $DARK_GREY;
	margin-bottom: $SPACING_4;
}
.proposal__left {
	flex-direction: column;
}
.proposal__left p {
	margin-bottom: 0;
	font-size: $BODY_TEXT_SM;
	line-height: 1.3rem;
	color: $MEDIUM_PURPLE_GREY;
}
.proposal__right {
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.proposal__right time {
	margin-bottom: 0;
	font-size: $BODY_TEXT_SM;
	text-transform: uppercase;
	color: $DARK_GREY;
	margin-right: $SPACING_72;
}
.proposal__right .badge {
	min-width: 82px;
	text-align: center;
}
// Proposal details
.proposal-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.proposal-details h2 {
	margin-bottom: $SPACING_XS;
}
.proposal-details .btn {
	align-self: center;
}
