/* #COMPONENT - INPUT
		1. Input default
		2. Input govern
		3. Input responsive
*/

// 1. Input default
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input:not([type="range"]) {
	font-family: $FONT_BODY;
	font-size: $BODY_TEXT;
	appearance: none;
	width: 100%;
	padding-right: $PX_16;
	border: 0;
	line-height: $PX_30;
}
input::placeholder,
textarea::placeholder {
	color: $HIGHLIGHT_LIGHT_GREY;
	font-size: $PX_14;
}
textarea:focus,
input:focus {
	outline: 0;
}
textarea {
	resize: vertical;
}
.input-wrapper,
.input-token {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.input-token {
	min-width: $PX_120;
	margin-right: $PX_32;
}
.input-token svg {
	margin-right: $PX_8;
}
.input,
.input__container {
	background: $TRANSPARENT;
}
.input {
	width: 100%;
	border: $PX_1 solid $HIGHLIGHT_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	margin-bottom: $PX_16;
	transition: $TRANSITION_ALL;
}
.input:focus-within {
	border: $PX_1 solid $LIME;
	background-color: $DISABLED_GREY;
}
.input input {
	color: $WHITE;
	line-height: $PX_24;
	padding: 0;
	margin-right: $PX_8;
	text-align: right;
	background: $TRANSPARENT;
}
.input__container {
	padding: $PX_12 $PX_8;
	height: $PX_48;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.input__container .btn {
	padding: $PX_4 $PX_12;
	height: $PX_32;
	font-size: $PX_12;
	line-height: $PX_24;
}

// 2. Input govern
.input-govern__wrapper {
	background-color: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_24;
	margin-bottom: $PX_24;
}
.input-govern .input {
	margin-bottom: 0;
}
.input-govern__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: $PX_16;
}
.input-govern__title label,
.input-govern__message p {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
}
.input-govern__message p {
	margin-bottom: $PX_24;
}

// 3. Input responsive
@media screen and (max-width: $PX_480) {
	input {
		font-size: $HEADING_FIVE_480;
		line-height: $PX_18;
	}
}
