/* #COMPONENT - SWAP
		1. Swap default
		2. Swap responsive
*/

// 1. Swap default
.swap {
	display: flex;
	flex-direction: column;
	background: $DARK_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $SPACING_32;
	box-shadow: $BOX_SHADOW_CONTAINER;
}
.swap__container {
	padding: $SPACING_24;
	background: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	position: relative;
}
.swap__container .accordion {
	background: $TRANSPARENT;
}
.swap .btn--icon {
	padding: 0;
	margin-left: $SPACING_8;
}
.swap__balance {
	margin-bottom: $SPACING_16;
}
.swap__balance label,
.swap__balance p {
	color: $LIGHT_GREY;
	font-size: $SPACING_14;
	line-height: $SPACING_20;
}
.swap__balance p {
	margin-bottom: 0;
}
.swap__output {
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $SPACING_26 $SPACING_32;
	margin-bottom: $SPACING_48;
}

// 2. Swap responsive
@media screen and (max-width: $SPACING_990) {
	.swap {
		margin-bottom: $SPACING_48;
	}
}
@media screen and (max-width: $SPACING_480) {
	.swap {
		padding: $SPACING_48 $SPACING_32;
	}
	.swap__container {
		padding: $SPACING_24;
	}
	.swap__output {
		padding: $SPACING_24;
		flex-direction: column;
		align-items: flex-start;
	}
}
