/* #COMPONENT - ICON LIST
		1. Icon list default
		2. Icon list responsive
*/

// 1. Icon list default
.icon-list,
.icon-list li {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.icon-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.icon-list li {
	font-size: $BODY_TEXT;
	color: $LIGHT_GREY;
	margin-right: $PX_14;
}
.icon-list li:last-child {
	margin-right: 0;
}
.icon-list li .badge {
	font-size: $BODY_TEXT;
	line-height: $PX_21;
	border-radius: $BORDER_RADIUS_32;
	padding: $PX_4 $PX_16;
	margin-left: $PX_8;
	color: $DARK_GREY;
	min-width: $PX_60;
	text-align: center;
}

// 2. Icon list responsive
@media screen and (max-width: $PX_1440) {
	.icon-list li {
		font-size: $BODY_TEXT_SM;
		line-height: $PX_24;
	}
	.icon-list li .badge {
		padding: $PX_4 $PX_12;
	}
}
@media screen and (max-width: $PX_480) {
	.icon-list {
		width: 100%;
		justify-content: space-between;
		margin-bottom: $PX_24;
	}
	.icon-list li {
		flex-direction: column;
		align-items: flex-start;
	}
	.icon-list li .badge {
		margin-left: 0;
		margin-top: $PX_8;
		font-size: $BODY_TEXT_XS;
		line-height: $PX_18;
	}
}
