/* #COMPONENT - INPUT GOVERN
		1. Input govern default
*/

// 1. Input govern default
.input-govern__wrapper {
	background-color: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_24;
	margin-bottom: $PX_24;
}
.input-govern .input {
	margin-bottom: 0;
}
.input-govern__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: $PX_16;
}
.input-govern__title label,
.input-govern__message p {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
}
.input-govern__message p {
	margin-bottom: $PX_24;
}
