/* #COMPONENT - INPUT
		1. Input default
		2. Input responsive
*/

// 1. Input default
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input {
	font-family: $FONT_BODY;
	font-size: $BODY_TEXT;
	appearance: none;
	width: 100%;
	padding-right: $SPACING_16;
	border: 0;
	line-height: $SPACING_30;
}
input:focus {
	outline: 0;
}
input::placeholder {
	color: $DARK_GREY;
}
.input {
	width: 100%;
	border-radius: $BORDER_RADIUS_16;
	background: $WHITE;
}
.input__container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding: $SPACING_12 $SPACING_8;
	background: $LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
}
.input__container input {
	text-align: right;
	background: $TRANSPARENT;
}

// 2. Input responsive
@media screen and (max-width: $SPACING_480) {
	input {
		font-size: $HEADING_FIVE_480;
		line-height: $SPACING_18;
	}
}
