/* #COMPONENT - NAV
		1. Nav default
		2. Nav responsive
*/

// 1. Nav default
.nav {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	padding: 0 $PX_24;
}
.faucet {
	display: flex;
	flex-direction: row;
	padding: 0 $PX_40;
	justify-content: space-between;
	font-size: $PX_14;
	margin-top: $PX_32;
}
.faucet a {
	color: $WHITE;
}
.nav li {
	margin-bottom: $PX_16;
}
.nav a,
.nav svg path {
	transition: $TRANSITION_ALL;
}
.nav a {
	font-family: $FONT_BODY;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $WHITE;
	text-decoration: none;
	font-size: $HEADING_FIVE;
	padding: $PX_10 $PX_16;
	border-radius: $BORDER_RADIUS_8;
	line-height: $PX_24;
}
.nav a:hover {
	background: $MEDIUM_GREY;
}
.nav a .external-link-icon {
	fill: $WHITE;
	height: $PX_12;
	margin-left: $PX_5;
}
.nav .active-link {
	position: relative;
}
.nav .active-link,
.nav .active-link:hover {
	color: $LIME;
}
.nav .active-link svg path,
.nav .active-link svg rect,
.nav .active-link svg circle {
	transition: $TRANSITION_ALL;
	stroke: $LIME;
}
.nav .active-link svg.menu-farm path,
.nav .active-link svg.menu-swap path {
	fill: $LIME;
	stroke: $TRANSPARENT;
}
.nav a.nuxt-link-active.active-link:after {
	content: "";
	width: $PX_4;
	height: $PX_40;
	border-top-left-radius: $BORDER_RADIUS_4;
	border-top-right-radius: $BORDER_RADIUS_4;
	background: $LIME;
	right: -$PX_23;
	top: 50%;
	transform: translateY(-50%);
	bottom: 0;
	position: absolute;
}
.nav a svg {
	margin-right: $PX_10;
}
.link-disabled {
	opacity: 0.5;
}

// 2. Nav responsive
@media screen and (max-width: $PX_1440) {
	.nav a {
		font-size: $HEADING_FIVE_1440;
		line-height: $PX_26;
	}
	.nav li {
		margin-bottom: $PX_8;
	}
	.nav a.nuxt-link-active.active-link:after {
		height: $PX_30;
	}
}
@media screen and (max-width: $PX_990) {
	.nav a {
		font-size: $HEADING_TWO_990;
		line-height: $PX_28;
		padding: $PX_8 0;
	}
}
