/* #COMPONENT - TABS
		1. Tabs default
		2. Tabs size
		3. Tabs color
		4. Tabs responsive
*/

// 1. Tabs default
.tabs--default .tabs__header,
.tabs--full-width .tabs__header {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border-radius: $BORDER_RADIUS_8;
	padding: $SPACING_16;
}
.tabs__header li {
	transition: $TRANSITION_ALL;
	cursor: pointer;
	margin-right: $SPACING_16;
	padding: $SPACING_13 $SPACING_24;
	border-radius: $BORDER_RADIUS_6;
}
.tabs__header li:hover {
	background: $MEDIUM_LIGHT_GREY;
}
.tabs__header li:hover h5 {
	color: $LIGHT_GREY;
}
.tabs__header li:last-child {
	margin-right: 0;
}
.tabs__header li h5 {
	color: $LIGHT_GREY;
	transition: $TRANSITION_ALL;
}
.tabs__header li.is-active {
	background: $LIME;
}
.tabs__header li.is-active:hover {
	cursor: not-allowed;
}
.tabs__header li.is-active h5 {
	color: $DARK_GREY;
}
.tabs__filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: $SPACING_24;
}
.tabs__filter .select {
	min-width: $SPACING_185;
	margin-right: $SPACING_16;
}
.tabs__filter .select:last-child {
	margin-right: 0;
}

// 2. Tabs size
.tabs--thin .tabs__header {
	display: inline-flex;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_32;
	padding: $SPACING_8;
	margin-bottom: 0;
	width: auto !important;
}
.tabs--thin .tabs__header li {
	padding: $SPACING_8 $SPACING_20;
	margin-right: $SPACING_4;
	border-radius: $BORDER_RADIUS_24;
}
.tabs--thin .tabs__header li:hover {
	background: $DARK_GREY;
}
.tabs--thin .tabs__header li h5 {
	color: $LIGHT_GREY;
}
.tabs--thin .tabs__header li.is-active {
	background: $MEDIUM_GREY;
}
.tabs--thin .tabs__header li.is-active h5 {
	color: $LIME;
}
.tabs--full-width .tabs__header {
	width: 100%;
}

// 3. Tabs color
.tabs--light .tabs__header {
	background: $MEDIUM_LIGHT_GREY;
}
.tabs--dark .tabs__header {
	background: $DARK_GREY;
}

// 4. Tabs responsive
