/* #COMPONENT - NAV
		1. Nav default
		2. Nav responsive
*/

// 1. Nav default
.nav {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	padding: 0 $SPACING_24;
}
.nav li {
	margin-bottom: $SPACING_16;
}
.nav a,
.nav svg path {
	transition: $TRANSITION_ALL;
}
.nav a {
	font-family: $FONT_BODY;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $WHITE;
	text-decoration: none;
	font-size: $HEADING_FIVE;
	padding: $SPACING_10 $SPACING_16;
	border-radius: $BORDER_RADIUS_8;
	line-height: $SPACING_24;
}
.nav a:hover {
	background: $MEDIUM_GREY;
}
.nav a .external-link-icon {
	fill: $WHITE;
	height: $SPACING_12;
	margin-left: $SPACING_5;
}
.nav .active-link {
	position: relative;
}
.nav .active-link,
.nav .active-link:hover {
	color: $LIME;
}
.nav .active-link svg path,
.nav .active-link svg rect,
.nav .active-link svg circle {
	transition: $TRANSITION_ALL;
	stroke: $LIME;
}
.nav .active-link svg.menu-farm path,
.nav .active-link svg.menu-swap path {
	fill: $LIME;
	stroke: $TRANSPARENT;
}
.nav a.nuxt-link-active.active-link:after {
	content: "";
	width: $SPACING_4;
	height: $SPACING_40;
	border-top-left-radius: $BORDER_RADIUS_4;
	border-top-right-radius: $BORDER_RADIUS_4;
	background: $LIME;
	right: -$SPACING_23;
	top: 50%;
	transform: translateY(-50%);
	bottom: 0;
	position: absolute;
}
.nav a svg {
	margin-right: $SPACING_10;
}

// 2. Nav responsive
@media screen and (max-width: $SPACING_1440) {
	.nav a {
		font-size: $HEADING_FIVE_1440;
		line-height: $SPACING_26;
	}
	.nav li {
		margin-bottom: $SPACING_12;
	}
	.nav a.nuxt-link-active.active-link:after {
		height: $SPACING_30;
	}
}
@media screen and (max-width: $SPACING_990) {
	.nav a {
		font-size: $HEADING_TWO_990;
		line-height: $SPACING_28;
		padding: $SPACING_8 0;
	}
}
