/* #COMPONENT - PROPOSAL */
.proposal,
.proposal__left,
.proposal__right {
	display: flex;
}
.proposal {
	width: 100%;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	position: relative;
	margin-bottom: $SPACING_32;
}
.proposal:last-child {
	margin-bottom: 0;
}
.proposal a {
	display: grid;
	grid-template-columns: calc(60% - 20px) 40%;
	grid-gap: $SPACING_32;
	width: 100%;
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_16;
	transition: $TRANSITION_ALL;
	border: $SPACING_2 solid $TRANSPARENT;
}
.proposal a:hover {
	background-color: $DARK_GREY;
	border: $SPACING_2 solid $LIME;
}
.proposal a:hover h4,
.proposal a:hover p,
.proposal a:hover time {
	color: $LIME;
}
.proposal h4 {
	color: $WHITE;
	margin-bottom: $SPACING_4;
}
.proposal__left {
	flex-direction: column;
}
.proposal__left p {
	margin-bottom: 0;
	font-size: $BODY_TEXT;
	line-height: $SPACING_21;
	color: $WHITE;
	text-transform: uppercase;
}
.proposal__right {
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.proposal__right time {
	margin-bottom: 0;
	font-size: $BODY_TEXT;
	text-transform: uppercase;
	color: $WHITE;
	margin-right: $SPACING_72;
	line-height: $SPACING_21;
}
.proposal__right .badge {
	min-width: 82px;
	text-align: center;
}
.proposal-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.proposal-description {
	background: $MEDIUM_LIGHT_GREY;
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_8;
	width: 100%;
}
.proposal-description h4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: $SPACING_24;
}
.proposal-description .btn {
	align-self: center;
}
@media screen and (max-width: 1440px) {
	.proposal {
		margin-bottom: $SPACING_16;
	}
	.proposal__left p,
	.proposal__right time {
		font-size: $BODY_TEXT_XS;
		line-height: $SPACING_18;
	}
}
@media screen and (max-width: 990px) {
	.proposal {
		margin-bottom: $SPACING_12;
	}
	.proposal a {
		padding: $SPACING_28 $SPACING_32;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.proposal__left,
	.proposal__right {
		width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.proposal a {
		flex-direction: column;
		grid-gap: unset;
		grid-template-columns: none;
		padding: $SPACING_24;
	}
	.proposal__left,
	.proposal__right {
		width: 100%;
	}
	.proposal__left {
		margin-bottom: $SPACING_24;
	}
	.proposal__right {
		justify-content: space-between;
	}
	.proposal__right time {
		margin-right: 0;
	}
	.proposal-description {
		border-radius: $BORDER_RADIUS_16;
	}
}
