/* #COMPONENT - SELECT
		1. Select default
		2. Select responsive
*/

// 1. Select default
.select {
	position: relative;
	max-width: $SPACING_300;
	width: 100%;
	height: $SPACING_80;
	z-index: 1;
}
.select.inline {
	display: flex;
	align-items: center;
}
.select.inline label {
	padding: 0 $SPACING_10;
}
.select,
.select label {
	cursor: pointer;
}
.select label {
	display: block;
	margin-bottom: $SPACING_4;
	line-height: $SPACING_28;
	color: $LIGHT_GREY;
}
.select.active .select__selected {
	background: $LIME;
	color: $MEDIUM_LIGHT_GREY;
}
.select__button {
	position: relative;
	min-width: $SPACING_200;
}
.select__selected {
	transition: $TRANSITION_ALL;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: $SPACING_12 $SPACING_24;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	color: $LIGHT_GREY;
	font-size: $BODY_TEXT_SM;
	line-height: $SPACING_24;
}
.select__selected:hover {
	color: $LIME;
}
.select__selected:hover svg path {
	fill: $LIME;
}
.select__selected svg path {
	transition: $TRANSITION_ALL;
}
.select__selected svg {
	margin-left: $SPACING_16;
	fill: $LIGHT_GREY;
}
.select.active .select__selected svg path {
	fill: $MEDIUM_LIGHT_GREY;
}
.select__options {
	background: $DARK_GREY;
	visibility: hidden;
	border-radius: $BORDER_RADIUS_8;
	box-shadow: $BOX_SHADOW_SELECT;
	margin-top: $SPACING_20;
	position: absolute;
	width: 100%;
}
.select.active .select__options {
	visibility: visible;
}
.select__option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: $SPACING_12 $SPACING_24;
	transition: background-color 0.3s ease;
	font-size: $BODY_TEXT_SM;
	line-height: $SPACING_24;
	color: $LIGHT_GREY;
}
.select__option:hover {
	background-color: $MEDIUM_LIGHT_GREY;
}
.select__option:first-child:hover {
	border-top-left-radius: $SPACING_8;
	border-top-right-radius: $SPACING_8;
}
.select__option:last-child:hover {
	border-bottom-left-radius: $SPACING_8;
	border-bottom-right-radius: $SPACING_8;
}
.select__option:last-child {
	border-bottom: 0;
}
.select__option.selected {
	color: $LIME;
}

// 2. Select responsive
@media screen and (max-width: $SPACING_1440) {
	.select label {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_26;
	}
}
@media screen and (max-width: $SPACING_480) {
	.select {
		max-width: 100%;
	}
}
