/* #COMPONENT - TRANSACTION TABLE
		1. Transaction table default
		2. Transaction table 4 columns
		3. Transaction table responsive
*/

// 1. Transaction table default
.transaction-table {
	background: $MEDIUM_LIGHT_GREY;
	margin-bottom: $SPACING_48;
	padding: $SPACING_40 $SPACING_32;
	border-radius: $BORDER_RADIUS_8;
}
.transaction-table__row {
	display: flex;
	flex-flow: row wrap;
	border-bottom: 1px solid $LIGHER_GREY;
}
.transaction-table__row:first-child {
	padding-bottom: $SPACING_40;
}
.transaction-table__cell {
	padding: $SPACING_20 0;
}
.transaction-table__row:first-child .transaction-table__cell {
	color: $LIGHT_GREY;
	padding: 0;
}

// 2. Transaction table 4 columns
.transaction-table--4 .transaction-table__cell {
	width: calc(100% / 4);
}

// 3. Transaction table responsive
@media screen and (max-width: $SPACING_1440) {
	.transaction-table {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_18;
		padding: $SPACING_32;
	}
	.transaction-table__row:first-child {
		padding-bottom: $SPACING_32;
	}
}
@media screen and (max-width: $SPACING_990) {
	.transaction-table {
		padding: $SPACING_16;
	}
	.transaction-table__cell {
		padding: $SPACING_16 0;
	}
	.transaction-table__row:first-child {
		padding-bottom: $SPACING_16;
	}
}
