/* #COMPONENT - TOKEN */
.token {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: $SPACING_12;
}
.token:hover {
	background: $LIGHT_GREY;
	border-radius: 8px;
}
.token__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	&.disabled {
		opacity: 0.4;
	}
}
.token img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: $SPACING_16;
}
.token h3 {
	color: $LIME;
	font-size: $HEADING_THREE;
}
.token p {
	color: $MEDIUM_LIGHT_GREY;
	margin-bottom: 0;
}
