/* #COMPONENT - MODAL
		1. Modal default
		2. Modal claim
		3. Modal boardroom
		4. Modal confirm
		5. Modal connect
		6. Modal states
		7. Modal responsive
*/

// 1. Modal default
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 2;
	background-color: $DARK_GREY_RGBA;
	backdrop-filter: blur($SPACING_8);
}
.modal,
.modal__overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.modal__container {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: $DARK_GREY;
	box-shadow: $BOX_SHADOW_MODAL;
	padding: $SPACING_62 $SPACING_40;
	width: $SPACING_650;
	overflow: hidden auto;
	align-self: center;
	max-height: 80vh;
	min-height: auto;
	border-radius: $BORDER_RADIUS_16;
	z-index: 4;
}
.modal__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: $SPACING_24;
}
.modal__header p {
	font-size: $BODY_TEXT;
	line-height: $SPACING_24;
	color: $LIGHT_GREY;
	margin-bottom: 0;
}
.modal__header .btn--icon {
	padding: 0;
}
.modal__header .btn--icon svg path {
	stroke: $WHITE;
}

// 2. Modal claim
.modal--claim .modal__container {
	overflow: scroll;
	min-height: 85vh;
}
.modal__info--lower {
	border: 1px solid $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $SPACING_16 $SPACING_32;
}
.modal__info--lower p {
	margin-bottom: 0;
}
.modal__info h4 {
	font-size: $BODY_TEXT;
}
.modal__info p {
	color: $LIME;
}
.modal-fade-enter,
.modal-fade-leave-to {
	opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
	transition: opacity 0.5s ease;
}

// 3. Modal boardroom
.modal--boardroom .modal__container {
	min-height: auto;
}

// 4. Modal confirm
.modal__confirm {
	display: flex;
	flex-direction: column;
}
.modal__confirm h5 {
	margin-bottom: $SPACING_12;
	color: $DARK_GREY;
}
.modal__confirm--panel {
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_16;
	margin-bottom: $SPACING_48;
	background: $MEDIUM_LIGHT_GREY;
}
.modal__confirm--row,
.modal__confirm--buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.modal__confirm--row {
	justify-content: space-between;
	margin-bottom: $SPACING_8;
}
.modal__confirm--row:last-child,
.modal__confirm--row p {
	margin-bottom: 0;
}
.modal__confirm--row p {
	line-height: $SPACING_28;
	color: $WHITE;
}
.modal__confirm--buttons .btn:first-child {
	margin-right: $SPACING_16;
	background: $LIME;
	color: $LIME;
}
.modal__confirm--buttons .btn:last-child {
	flex: 1;
}

// 5. Modal connect
.modal--connect .modal__container {
	width: $SPACING_425;
	padding: $SPACING_64 $SPACING_32;
}
.modal--connect .modal__header {
	margin-bottom: $SPACING_40;
}

// 6. Modal states
.modal.is-confirming .modal__header,
.modal.is-confirmed .modal__header {
	justify-content: flex-end;
	margin-bottom: 0;
}
.modal.is-confirming .modal__header div,
.modal.is-confirmed .modal__header div {
	display: none;
}
.modal__body a {
	color: $LIME !important;
	font-size: $BODY_TEXT !important;
}
.modal__body label {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: $SPACING_12;
}

// 7. Modal responsive
@media screen and (max-width: 990px) {
	.modal__container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 0;
		max-height: 100%;
		width: 100%;
		height: 100%;
		padding: $SPACING_16;
		border: 0;
	}
	.modal-fade-enter,
	.modal-fade-leave-to {
		transform: translateY(100%);
		opacity: 1;
	}
	.modal-fade-enter-active,
	.modal-fade-leave-active {
		transition: transform 0.5s ease-in-out;
	}
}
