.icon-container {
	cursor: pointer;
}
.icon-container:hover {
	transform: scale(0.9);
	transition: 0.3s ease;
	opacity: 0.6;
}
.icon-title {
	font-size: $BODY_TEXT !important;
	color: $DARK_BLUE !important;
	font-family: 600;
	margin-top: $SPACING_XXS;
}
