/* #COMPONENT - VOTES TABLE */
.votes-table {
	width: 100%;
	margin-top: $SPACING_24;
	padding-bottom: $SPACING_48;
}
.votes-table h5 {
	color: $LIGHT_GREY;
}
.votes-table h4 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.votes-table h4 svg {
	margin-right: $SPACING_16;
}
.votes-table__container {
	background: $MEDIUM_LIGHT_GREY;
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_8;
	display: block;
	width: 100%;
}
.votes-table__row {
	display: flex;
	flex-flow: row wrap;
	font-size: $BODY_TEXT;
}
.votes-table__row:first-child .votes-table__cell {
	padding: 0 0 $SPACING_32 0;
}
.votes-table__row:first-child .votes-table__cell:first-child {
	text-transform: none;
}
.votes-table__cell {
	width: calc(100% / 3);
	padding: $SPACING_32 0;
	border-bottom: $SPACING_1 solid $LIGHT_GREY;
}
.votes-table__cell:first-child {
	text-transform: uppercase;
}
.votes-table__cell:nth-child(3) {
	text-align: right;
}
.votes-table__cell .btn {
	font-size: $BODY_TEXT;
}
.votes-table__cell--full {
	width: 100%;
	text-align: center;
	border-bottom: 0;
}
.votes-table__cell--full p {
	margin-bottom: 0;
	font-size: $BODY_TEXT;
}
@media screen and (max-width: 1440px) {
	.votes-table__row,
	.votes-table__cell--full p {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_24;
	}
}
