/* #COMPONENT - ICON LIST */
.icon-list,
.icon-list li {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.icon-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.icon-list li {
	font-weight: 400;
	font-size: $BODY_TEXT;
	color: $MEDIUM_GREY;
	margin-right: $SPACING_14;
}
.icon-list li:last-child {
	margin-right: 0;
}
.icon-list li .badge {
	border-radius: $BORDER_RADIUS_32;
	padding: $SPACING_4 $SPACING_16;
	margin-left: $SPACING_8;
	color: $LIME;
}
.icon-list li .badge--blue {
	background: $LIME;
}
@media screen and (max-width: 1440px) {
	.icon-list li {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_24;
	}
	.icon-list li .badge {
		padding: $SPACING_4 $SPACING_12;
	}
}
