/* #COMPONENT - TOKEN PRICE
		1. Token price default
		2. Token price responsive
*/

// 1. Token price default
.token-price {
	margin-bottom: $SPACING_48;
}
.token-price__toggle {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	background: $DARK_GREY;
	border-radius: $SPACING_8;
	padding: $SPACING_16;
	margin-bottom: $SPACING_24;
}
.token-price__toggle .btn {
	border: none;
	padding: $SPACING_13 $SPACING_24;
	height: $SPACING_48;
	color: $WHITE;
	border-radius: $BORDER_RADIUS_4;
	margin-right: $SPACING_8;
}
.token-price__toggle .btn:last-child {
	margin-right: 0;
}
.token-price__toggle .btn.active,
.token-price__toggle .btn.active:hover {
	background: $LIME;
	color: $DARK_GREY;
	cursor: not-allowed;
}
.token-price__toggle .btn:hover {
	background: $MEDIUM_LIGHT_GREY;
	color: $LIME;
}
.token-price__wrapper {
	display: flex;
	flex-direction: row;
}
.token-price__wrapper .chart:first-child {
	width: calc(35% - $SPACING_16);
	margin-right: $SPACING_32;
}
.token-price__wrapper .chart:last-child {
	width: calc(65% - $SPACING_16);
}

// 2. Token price responsive
