/* #COMPONENT - RADIO BUTTON
		1. Radio button default
		2. Radio button responsive
*/

// 1. Radio button default
.radio-button {
	font-size: $BODY_TEXT;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: $SPACING_16;
}
.radio-button,
input[type="radio"] {
	cursor: pointer;
}
input[type="radio"] {
	appearance: none;
	background-color: $WHITE;
	margin: 0;
	color: $LIME;
	width: $SPACING_18;
	height: $SPACING_18;
	border: $SPACING_1 solid $SUCCESS;
	border-radius: $BORDER_RADIUS_CIRCLE;
	display: grid;
	place-content: center;
	margin-right: $SPACING_12;
}
input[type="radio"]::before {
	content: "";
	width: $SPACING_10;
	height: $SPACING_10;
	border-radius: $BORDER_RADIUS_CIRCLE;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	background-color: $SUCCESS;
}
input[type="radio"]:checked::before {
	transform: scale(1);
}
label[disabled],
label[disabled]input[type="radio"] {
	cursor: not-allowed;
}
label[disabled] {
	color: $WHITE;
	font-size: $HEADING_FIVE;
	line-height: $SPACING_24;
}
label[disabled]input[type="radio"] {
	background-color: $WHITE;
}

// 2. Radio button responsive
@media screen and (max-width: 1440px) {
	.radio-button {
		font-size: $BODY_TEXT_SM;
		margin-bottom: $SPACING_18;
	}
}
