/* #COMPONENT - LOGO */
.logo {
	align-self: flex-start;
	display: inherit;
	margin: $SPACING_24 0 $SPACING_64;
	padding: 0 $SPACING_40;
}
@media screen and (max-width: 1440px) {
	.logo {
		margin-bottom: $SPACING_48;
	}
}
@media screen and (max-width: 990px) {
	.logo {
		padding: $SPACING_24;
		margin: 0;
	}
}
