/* #COMPONENT - SELECT
		1. Select default
		2. Select responsive
*/

// 1. Select default
.select {
	position: relative;
	max-width: $PX_300;
	width: 100%;
	height: $PX_80;
	z-index: 1;
}
.select.inline {
	display: flex;
	align-items: center;
}
.select.inline label {
	padding: 0 $PX_10;
	margin-bottom: 0;
}
.select,
.select label {
	cursor: pointer;
}
.select label {
	display: block;
	margin-bottom: $PX_4;
	line-height: $PX_28;
	color: $LIGHT_GREY;
}
.select.active .select__selected {
	color: $LIME;
}
.select.active .select__selected svg path {
	fill: $LIME;
}
.select__button {
	position: relative;
	min-width: $PX_200;
}
.select__selected {
	transition: $TRANSITION_ALL;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: $PX_12 $PX_24;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	color: $LIGHT_GREY;
	font-size: $BODY_TEXT;
	line-height: $PX_24;
}
.select__selected svg path {
	transition: $TRANSITION_ALL;
	fill: $LIGHT_GREY;
}
.select__selected svg {
	margin-left: $PX_16;
}
.select__options {
	background: $MEDIUM_LIGHT_GREY;
	visibility: hidden;
	border-radius: $BORDER_RADIUS_8;
	box-shadow: $BOX_SHADOW_SELECT;
	margin-top: $PX_20;
	position: absolute;
	width: 100%;
}
.select.active .select__options {
	visibility: visible;
}
.select__option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: $PX_12 $PX_24;
	transition: background-color 0.3s ease, color 0.3s ease;
	font-size: $BODY_TEXT;
	line-height: $PX_24;
	color: $WHITE;
}
.select__option:hover,
.select__option.selected:hover {
	background-color: $LIME;
	color: $DARK_GREY;
}
.select__option.selected svg path {
	transition: $TRANSITION_ALL;
}
.select__option.selected:hover svg path {
	stroke: $DARK_GREY;
}
.select__option:first-child:hover {
	border-top-left-radius: $PX_8;
	border-top-right-radius: $PX_8;
}
.select__option:last-child:hover {
	border-bottom-left-radius: $PX_8;
	border-bottom-right-radius: $PX_8;
}
.select__option:last-child {
	border-bottom: 0;
}
.select__option.selected {
	color: $LIME;
}

// 2. Select responsive
@media screen and (max-width: $PX_1440) {
	.select label {
		font-size: $BODY_TEXT_SM;
		line-height: $PX_26;
	}
}
@media screen and (max-width: $PX_480) {
	.select {
		max-width: 100%;
	}
}
