/* #COMPONENT - COUNTDOWN
		1. Countdown default
*/

// 1. Countdown default
.countdown label {
	color: $LIGHT_GREY;
	font-size: $SPACING_14;
	line-height: $SPACING_20;
}
.countdown h3 {
	font-size: $HEADING_THREE;
}
.countdown__wrapper {
	display: flex;
	flex-direction: row;
}
.countdown__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: $SPACING_4;
}
.countdown__block:last-child {
	margin-right: 0;
}
.countdown__block h3 {
	margin-right: $SPACING_4;
}
.countdown__block p {
	text-transform: uppercase;
	background: $DARK_GREY;
	padding: 0 $SPACING_6;
	border-radius: $BORDER_RADIUS_4;
	margin-bottom: 0;
}
.countdown__placeholder sup {
	font-family: $FONT_BODY;
	background: $DARK_GREY;
	border-radius: $BORDER_RADIUS_4;
	padding: 0 $SPACING_6;
	margin: 0 $SPACING_8;
}
