/* #COMPONENT - BUTTON
		1. Button default
		2. Button sizes
		3. Button icon
		4. Button approved
		5. Button swap
		6. Button link
*/

// 1. Button default
.btn {
	font-family: $FONT_BODY;
	appearance: none;
	user-select: none;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: $BORDER_RADIUS_24;
	transition: $TRANSITION_ALL;
	background: $TRANSPARENT;
	color: $LIME;
	border: $SPACING_1 solid $LIME;
	cursor: pointer;
	outline: 0;
}
a.btn:hover,
.btn:hover {
	background: $LIME;
	color: $DARK_GREY;
}
.btn:active {
	background: $LIGHT_LIME;
}
.btn[disabled],
.btn[disabled]:hover {
	background: $DARK_GREY;
	color: $LIGHT_GREY;
	cursor: not-allowed;
	border-color: $LIGHT_GREY;
}

// 2. Button sizes
.btn--sm {
	font-size: $BODY_TEXT;
	line-height: $SPACING_24;
	height: $SPACING_40;
	border-radius: $BORDER_RADIUS_4;
	padding: $SPACING_8 $SPACING_24;
	background: $LIME;
	color: $DARK_GREY;
}
.btn--md,
.btn--lg {
	font-size: $HEADING_FIVE;
	line-height: $SPACING_24;
	border-radius: $BORDER_RADIUS_32;
}
.btn--md {
	height: $SPACING_56;
	padding: $SPACING_16 $SPACING_32;
}
.btn--lg {
	height: $SPACING_64;
	padding: $SPACING_20 $SPACING_32;
}
@media screen and (max-width: 1440px) {
	.btn--md,
	.btn--lg {
		font-size: $HEADING_FIVE_1440;
		line-height: $SPACING_26;
	}
	.btn--md,
	.btn--lg {
		height: $SPACING_46;
		padding: $SPACING_10 $SPACING_24;
	}
}
@media screen and (max-width: 990px) {
	.btn--md,
	.btn--lg {
		font-size: $HEADING_FIVE_990;
		line-height: $SPACING_18;
	}
	.btn--md {
		height: $SPACING_38;
	}
	.btn--lg {
		height: $SPACING_44;
	}
}
@media screen and (max-width: 480px) {
	.btn--md,
	.btn--lg {
		font-size: $HEADING_FIVE_480;
		line-height: $SPACING_18;
		padding: $SPACING_12;
		height: $SPACING_42;
	}
}

// 3. Button icon
.btn--icon,
.btn--icon:hover,
.btn--icon:active {
	background: $TRANSPARENT;
	border: 0;
}
.btn--icon {
	transition: $TRANSITION_ALL;
}
.btn--icon:hover {
	transform: rotate(180deg);
}

// 4. Button approved
.btn[disabled].btn--approved {
	position: relative;
	background: $TRANSPARENT;
	border: $SPACING_1 solid $SUCCESS;
	color: $SUCCESS;
	opacity: 1;
}
.btn[disabled].btn--approved span {
	margin-right: $SPACING_26;
}
.btn[disabled].btn--approved:after {
	content: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.0455 1.16325C19.4848 1.60258 19.4848 2.3149 19.0455 2.75424L8.5455 13.2542C8.10616 13.6936 7.39384 13.6936 6.9545 13.2542L0.954505 7.25424C0.515165 6.8149 0.515165 6.10259 0.954505 5.66325C1.39384 5.22391 2.10616 5.22391 2.5455 5.66325L7.75 10.8678L17.4545 1.16325C17.8938 0.723905 18.6062 0.723905 19.0455 1.16325Z' fill='%2389D382'/%3E%3C/svg%3E%0A");
	position: absolute;
	top: 50%;
	right: $SPACING_24;
	transform: translate(0%, -50%);
	line-height: 0;
}

// 5. Button swap
.btn--swap {
	background: $LIME;
	width: $SPACING_72;
	height: $SPACING_72;
	border-radius: $BORDER_RADIUS_CIRCLE;
	border: $SPACING_4 solid $WHITE;
	padding: 0;
	margin: -$SPACING_20 auto;
	z-index: 2;
}
.btn--swap svg path {
	fill: $DARK_GREY;
}
.btn--swap:hover {
	background: $LIME;
}
.btn--swap.btn[disabled] {
	opacity: 1;
	background: $DARK_GREY;
}
.btn--swap.btn[disabled] svg path {
	fill: $LIGHT_GREY;
}

// 6. Button link
.btn--link {
	font-size: $HEADING_FIVE;
	line-height: $SPACING_24;
	background: $TRANSPARENT;
	color: $WHITE;
	padding: 0;
	border: 0;
}
.btn--link:after {
	content: "";
	position: absolute;
	height: $SPACING_1;
	left: 0;
	right: 0;
	bottom: $SPACING_1;
	background: $WHITE;
	transition: $TRANSITION_ALL;
}
.btn--link:active,
.btn--link:hover {
	background: $TRANSPARENT !important;
	color: $LIME !important;
}
.btn--link:hover:after {
	background: $LIME;
}
@media screen and (max-width: 1440px) {
	.btn--link {
		font-size: $HEADING_FIVE_1440;
		line-height: $SPACING_26;
	}
}
@media screen and (max-width: 990px) {
	.btn--link {
		font-size: $HEADING_FIVE_990;
		line-height: $SPACING_18;
	}
}
@media screen and (max-width: 480px) {
	.btn--link {
		font-size: $HEADING_FIVE_480;
		line-height: $SPACING_24;
	}
}
