.icon-container {
	cursor: pointer;
}
.icon-container:hover {
	transform: scale(0.9);
	transition: $TRANSITION_ALL;
	opacity: 0.6;
}
.icon-title {
	font-size: $BODY_TEXT !important;
	color: $LIME !important;
	font-family: 600;
	margin-top: $SPACING_12;
}
