/* #COMPONENT - STEPPER
		1. Stepper default
		2. Stepper responsive
*/

// 1. Stepper default
.stepper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: $SPACING_52;
	position: relative;
	z-index: 0;
}
.stepper__progress {
	position: absolute;
	background: $LIGHT_GREY;
	height: $SPACING_4;
	border-radius: $BORDER_RADIUS_50;
	z-index: -1;
	left: 45px;
	right: 45px;
	margin: 0 auto;
}
.stepper__progress-bar {
	position: absolute;
	left: 0;
	height: 100%;
	width: 0%;
	background: $LIME;
	transition: $TRANSITION_ALL;
}
.stepper__content .input__container {
	background: $WHITE;
}
.stepper__panel {
	display: flex;
	flex-direction: column;
}
.stepper__panel h5 {
	color: $LIGHT_GREY;
}
.stepper__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: $TRANSITION_ALL;
}
.stepper__counter {
	height: $SPACING_32;
	width: $SPACING_32;
	display: grid;
	place-items: center;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_CIRCLE;
	border: $SPACING_2 solid $LIGHT_GREY;
	position: relative;
}
.stepper__counter svg {
	position: absolute;
	opacity: 0;
	transform: scale(0);
	transition: $TRANSITION_ALL;
}
.stepper__number {
	transition: $TRANSITION_ALL;
	opacity: 0;
	transform: scale(0);
}
.stepper__title {
	position: absolute;
	bottom: -$SPACING_28;
	font-size: $BODY_TEXT;
	line-height: $SPACING_28;
	color: $LIGHT_GREY;
}
.stepper__loading {
	text-align: center;
}
.stepper__loading h2 {
	margin-bottom: $SPACING_8;
}
.stepper__loading p {
	margin-bottom: 0;
}
.stepper__loading svg {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: $SPACING_32 auto;
}
.stepper__item.active .stepper__title {
	color: $LIME;
}
.stepper__item.active .stepper__counter {
	border: 0;
	background: $MEDIUM_LIGHT_GREY;
}
.stepper__item.active .stepper__number {
	background: $LIME;
	height: $SPACING_12;
	width: $SPACING_12;
	border-radius: $BORDER_RADIUS_CIRCLE;
	opacity: 1;
	transform: scale(1);
}
.stepper__item.success .stepper__counter {
	border-color: $TRANSPARENT;
}
.stepper__item.success .stepper__counter svg {
	opacity: 1;
	transform: scale(1);
}
.stepper__item.success .stepper__counter svg path {
	fill: $LIME;
}
.stepper__item.success .stepper__number {
	opacity: 0;
	transform: scale(0);
}
.stepper__item.success .stepper__title {
	color: $LIME;
}

// 2. Stepper responsive
@media screen and (max-width: 1440px) {
	.stepper__title {
		font-size: $HEADING_FIVE_1440;
		line-height: $SPACING_26;
	}
}
