/* #COMPONENT - INPUT STAKE
		1. Input stake default
*/

// 1. Input stake default
.input-stake .input {
	margin-bottom: $SPACING_24;
}
.input-stake__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: $SPACING_16;
}
.input-stake__title label {
	color: $LIGHT_GREY;
	font-size: $SPACING_14;
	line-height: $SPACING_20;
}
.input-stake .btn--md {
	width: 100%;
}
