/* #COMPONENT - DATA CARD */
.data-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.data-card label {
	font-size: $HEADING_FIVE;
	color: $MEDIUM_PURPLE_GREY;
	font-weight: 400;
	margin-bottom: $SPACING_4;
}
.data-card h3 {
	font-size: $HEADING_ONE;
	margin-bottom: $SPACING_4;
	line-height: $SPACING_72;
}
.data-card h4 {
	font-size: $HEADING_THREE;
}
.data-card .countdown__block h3 {
	font-size: $HEADING_ONE;
	margin-bottom: 0;
}
.data-card .countdown__block:last-child h3 {
	min-width: 55px;
	margin-right: 0;
}
.data-card .countdown__block p {
	color: $DEEP_BLUE;
}
.data-card p {
	margin-bottom: $SPACING_4;
}
.data-card p:last-child {
	margin-bottom: 0;
}
.data-card sup {
	top: -1.6rem;
	position: relative;
	font-size: $BODY_TEXT_SM;
	margin-left: $SPACING_4;
}
.data-card--start {
	align-items: flex-start;
}
.data-card--end,
.data-card--end .btn {
	align-items: flex-end;
}
@media screen and (max-width: 990px) {
	.data-card--end,
	.data-card--end .btn {
		align-items: flex-start;
	}
}
