/* #COMPONENT - CURRENCY CARD
		1. Currency card default
*/

// 1. Currency card default
.currency-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.currency-card label,
.currency-card h5 {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
}
.currency-card h3 sup {
	font-size: $PX_14;
	line-height: $PX_20;
	margin-left: $PX_10;
}
