/* #COMPONENT - RANGE SLIDER
		1. Range slider default
*/

// 1. Range slider default
.range-slider {
	width: 100%;
	background-color: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_16 $PX_24;
}
.range-slider__labels {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.range-slider__labels p {
	color: $LIGHT_GREY;
	font-size: $PX_14;
	line-height: $PX_20;
	margin-bottom: 0;
}
input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: $PX_8;
	background: $DISABLED_GREY;
	border-radius: $PX_24;
	background-image: linear-gradient(#b7b7b7, #b7b7b7);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: $PX_18;
	width: $PX_18;
	border-radius: 50%;
	background: $LIME;
	cursor: ew-resize;
	box-shadow: $BOX_SHADOW_CONTAINER;
	transition: $TRANSITION_ALL;
}
input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: $PX_18;
	width: $PX_18;
	border-radius: 50%;
	background: $LIME;
	cursor: ew-resize;
	box-shadow: $BOX_SHADOW_CONTAINER;
	transition: $TRANSITION_ALL;
}
