/* #COMPONENT - TRANSACTION TABLE
		1. Transaction table default
		2. Transaction table collateral
		3. Transaction table history
		4. Transaction table responsive
*/

// 1. Transaction table default
.transaction-table {
	background: $MEDIUM_LIGHT_GREY;
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_8;
}
.transaction-table__row {
	background-color: $HIGHLIGHT_GREY;
	display: flex;
	align-items: center;
	transition: $TRANSITION_ALL;
	border-bottom: $SPACING_1 solid $MEDIUM_LIGHT_GREY;
}
.transaction-table__row--no-results .transaction-table__cell {
	text-align: center;
	width: 100% !important;
	padding-bottom: 0;
}
.transaction-table__row--no-results:hover {
	background-color: $TRANSPARENT;
	color: $WHITE;
}
.transaction-table__row:first-child {
	background-color: $TRANSPARENT;
	color: $LIGHT_GREY;
}
.transaction-table__row:first-child .transaction-table__cell {
	padding-top: 0;
}
.transaction-table__row:nth-child(2) {
	border-top-left-radius: $BORDER_RADIUS_16;
	border-top-right-radius: $BORDER_RADIUS_16;
}
.transaction-table__row:last-child {
	border-bottom-left-radius: $BORDER_RADIUS_16;
	border-bottom-right-radius: $BORDER_RADIUS_16;
}
.transaction-table__cell {
	padding: $SPACING_24;
}
.transaction-table__cell--marked {
	border-radius: $BORDER_RADIUS_4;
	background-color: $MEDIUM_GREY;
	padding: $SPACING_4 $SPACING_8;
	transition: $TRANSITION_ALL;
}
.transaction-table__cell--marked:nth-child(1),
.transaction-table__cell--marked:nth-child(2) {
	margin-right: $SPACING_8;
}
.transaction-table__cell--marked:nth-child(2) {
	margin-left: $SPACING_8;
}
.transaction-table__cell .btn {
	background-color: $TRANSPARENT;
	border: $SPACING_1 solid $LIME;
	color: $LIME;
	border-radius: $BORDER_RADIUS_8;
	margin-right: $SPACING_8;
}
.transaction-table__cell .btn:hover {
	background-color: $DARK_GREY;
}
.transaction-table__cell .btn:last-child {
	margin-right: 0;
}

// 2. Transaction table collateral
.transaction-table--collateral .transaction-table__cell:nth-child(1) {
	width: 15%;
}
.transaction-table--collateral .transaction-table__cell:nth-child(2) {
	width: 25%;
}
.transaction-table--collateral .transaction-table__cell:nth-child(3) {
	width: 25%;
}
.transaction-table--collateral .transaction-table__cell:nth-child(4) {
	width: 35%;
}

// 3. Transaction table history
.transaction-table--history .transaction-table__row {
	transition: $TRANSITION_ALL;
	cursor: pointer;
}
.transaction-table--history .transaction-table__row:first-child:hover {
	background-color: $TRANSPARENT;
	cursor: text;
	color: $LIGHT_GREY;
}
.transaction-table--history .transaction-table__row:hover {
	background-color: $MEDIUM_GREY;
	color: $LIME;
}
.transaction-table--history
	.transaction-table__row:hover
	.transaction-table__cell--marked {
	background-color: $HIGHLIGHT_GREY;
}
.transaction-table--history .transaction-table__cell:nth-child(1) {
	width: 35%;
}
.transaction-table--history .transaction-table__cell:nth-child(2) {
	width: 25%;
}
.transaction-table--history .transaction-table__cell:nth-child(3) {
	width: 25%;
}
.transaction-table--history .transaction-table__cell:nth-child(4) {
	width: 15%;
}

// 4. Transaction table responsive
@media screen and (max-width: $SPACING_1440) {
	.transaction-table {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_18;
		padding: $SPACING_32;
	}
}
@media screen and (max-width: $SPACING_990) {
	.transaction-table {
		padding: $SPACING_16;
	}
	.transaction-table__cell {
		padding: $SPACING_16 0;
	}
}
