/* #COMPONENT - INPUT WITHDRAW
		1. Input withdraw default
*/

// 1. Input withdraw default
.input-withdraw__wrapper {
	background-color: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $SPACING_24;
	margin-bottom: $SPACING_24;
}
.input-withdraw .input {
	margin-bottom: 0;
}
.input-withdraw__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: $SPACING_16;
}
.input-withdraw__title label,
.input-withdraw__message p {
	color: $LIGHT_GREY;
	font-size: $SPACING_14;
	line-height: $SPACING_20;
}
.input-withdraw__message p {
	margin-bottom: $SPACING_24;
}
.input-withdraw .btn--md {
	width: 100%;
}
