/* #COMPONENT - PANEL
		1. Panel default
		2. Panel responsive
*/

// 1. Panel default
.panel,
.panel__row {
	display: flex;
}
.panel {
	flex-direction: column;
	align-items: flex-start;
	background: $MEDIUM_LIGHT_GREY;
	padding: $PX_32;
	border-radius: $BORDER_RADIUS_8;
	position: relative;
}
.panel h4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: $PX_24;
}
.panel__row {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $PX_18;
	width: 100%;
	position: relative;
}
.panel__row:last-child,
.panel__row p {
	margin-bottom: 0;
}
.panel__row p {
	color: $LIGHT_GREY;
}
.panel__row p,
.panel__row span {
	line-height: $PX_24;
}
.panel__row span,
.panel__row span a {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.panel__row span a {
	color: $WHITE;
}
.panel__row span svg,
.panel__row span a svg {
	margin-left: $PX_20;
	cursor: pointer;
}
.panel__row span svg path,
.panel__row span svg {
	transition: $TRANSITION_ALL;
}
.panel__row span svg:hover path {
	stroke: $LIME;
}

// 2. Panel responsive
@media screen and (max-width: $PX_1440) {
	.panel__row {
		margin-bottom: $PX_16;
	}
	.panel__row p,
	.panel__row span {
		font-size: $BODY_TEXT_SM;
		line-height: $PX_24;
	}
	.panel__row span svg,
	.panel__row span a svg {
		margin-left: $PX_8;
	}
}
@media screen and (max-width: $PX_480) {
	.panel {
		border-radius: $BORDER_RADIUS_16;
		margin-bottom: $PX_12;
	}
}
