/* #COMPONENT - PRICE INDICATOR
		1. Price indicator default
		2. Price indicator responsive
*/

// 1. Price indicator default
.price-indicator,
.price-indicator li,
.price-indicator li div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.price-indicator {
	background-color: $DARK_GREY;
	padding: $PX_8 $PX_16;
	border-radius: $BORDER_RADIUS_16;
	color: $LIGHT_GREY;
	margin-bottom: 0;
	font-size: $PX_12;
}
.price-indicator li {
	margin-right: $PX_24;
}
.price-indicator li:last-child {
	margin-right: 0;
}
.price-indicator span {
	color: $LIME;
	margin-left: $PX_4;
	font-weight: 600;
}
.price-indicator .badge {
	font-size: $PX_10;
	line-height: $PX_14;
	padding: $PX_2 $PX_6;
	margin-left: $PX_10;
}
.price-indicator .healthy {
	color: $SUCCESS;
}
.price-indicator .unhealthy {
	color: $ERROR;
}
.price-indicator .average {
	color: $WARNING;
}

// 2. Price indicator responsive
@media screen and (max-width: $PX_990) {
	.price-indicator {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
}
