/* #COMPONENT - TOKEN
		1. Token default
		2. Token responsive
*/

// 1. Token default
.token {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: $PX_16;
	transition: $TRANSITION_ALL;
}
.token.is-disabled {
	cursor: not-allowed;
	opacity: 0.4;
}
.token.is-disabled:hover {
	background-color: $TRANSPARENT;
	color: inherit;
}
.token.is-disabled:hover h4 {
	color: $WHITE;
}
.token.is-disabled:hover h5 {
	color: $LIGHT_GREY;
}
.token:first-child {
	border-top-left-radius: $PX_8;
	border-top-right-radius: $PX_8;
}
.token:last-child {
	border-bottom-left-radius: $PX_8;
	border-bottom-right-radius: $PX_8;
}
.token:hover {
	background: $LIME;
}
.token:hover h4,
.token:hover h5 {
	color: $DARK_GREY;
}
.token__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.token img {
	width: $PX_24;
	height: $PX_24;
	border-radius: $BORDER_RADIUS_CIRCLE;
	margin-right: $PX_8;
}
.token__body h4,
.token__body h5 {
	transition: $TRANSITION_ALL;
}
.token__body h4 {
	font-size: $PX_14;
	line-height: $PX_15;
}
.token__body h5 {
	font-size: $PX_12;
	line-height: $PX_18;
	color: $LIGHT_GREY;
	text-transform: capitalize;
}

// 2. Token responsive
@media screen and (max-width: $PX_480) {
	.token h3 {
		font-size: $HEADING_FOUR_480;
		line-height: $PX_26;
	}
	.token p {
		font-size: $HEADING_FIVE_480;
		line-height: $PX_18;
	}
}
