/* #COMPONENT - STAT CARD */
.stat-card {
	display: flex;
	flex-direction: column;
	color: $WHITE;
	padding: $SPACING_32;
	border-radius: $BORDER_RADIUS_16;
	position: relative;
	background: $DARK_GREY;
}
.stat-card h3 {
	color: $LIME;
}
.stat-card label {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: $HEADING_FIVE;
	font-weight: 500;
	margin-bottom: $SPACING_4;
	line-height: $SPACING_24;
}
.stat-card .tooltip--icon path {
	fill: $WHITE;
	transition: fill 0.3s ease;
}
.stat-card .tooltip--icon:hover path {
	fill: $LIME;
}
@media screen and (max-width: 1440px) {
	.stat-card {
		padding: $SPACING_24 $SPACING_32;
	}
	.stat-card label {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_26;
	}
}
