/* #COMPONENT - LOGO
		1. Logo default
		2. Logo responsive
*/

// 1. Logo default
.logo {
	align-self: flex-start;
	display: inherit;
	margin: $SPACING_24 0 $SPACING_64;
	padding: 0 $SPACING_40;
}

// 2. Logo responsive
@media screen and (max-width: $SPACING_1440) {
	.logo {
		margin-bottom: $SPACING_48;
	}
}
@media screen and (max-width: $SPACING_990) {
	.logo {
		padding: $SPACING_24;
		margin: 0;
	}
}
