/* #COMPONENT - LOADER */
.loader {
	width: 100%;
	background: $MEDIUM_GREY;
	position: relative;
	overflow: hidden;
	border-radius: $BORDER_RADIUS_4;
}
.loader:before {
	content: "";
	animation: loading 1s infinite;
	animation-timing-function: ease-in-out;
	background-image: linear-gradient(
		to left,
		rgba(24, 24, 26, 0.4),
		rgba(24, 24, 26, 0.7),
		rgba(24, 24, 26, 0.9),
		rgba(24, 24, 26, 0.7),
		rgba(24, 24, 26, 0.4)
	);
	position: absolute;
	left: 0;
	transform: translateX(-150%);
	height: 100%;
	width: 50%;
}
@keyframes loading {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(200%);
	}
}
// Loader H1
.loader--h1 {
	height: $SPACING_48;
	width: $SPACING_250;
	margin-bottom: $SPACING_14;
}
// Loader H2
.loader--h2 {
	height: 36px;
	width: 497px;
}
// Loader H3
.loader--h3 {
	height: $SPACING_45;
	width: $SPACING_210;
}
// Loader H4
.loader--h4 {
	height: 24px;
	width: 35px;
}
.loader--h4-long {
	height: 24px;
}
// Loader H5
.loader--h5 {
	height: $SPACING_24;
	width: $SPACING_80;
}
// Loader p
.loader--p {
	height: 24px;
	width: 85px;
}
// Loader button
.loader--button {
	height: 36px;
	width: 165px;
}
// Loader badge
.loader--badge {
	width: 72px;
	height: 24px;
}
// Loader burn
.loader--burn {
	height: 250px;
	background: $DARK_GREY;
	margin-bottom: $SPACING_48;
}
.loader--burn:before {
	background-image: linear-gradient(
		to left,
		rgba(38, 38, 38, 0.4),
		rgba(38, 38, 38, 0.7),
		rgba(38, 38, 38, 0.9),
		rgba(38, 38, 38, 0.7),
		rgba(38, 38, 38, 0.4)
	);
}
// Loader list
.loader--list {
	height: 26px;
	width: 115px;
}
// Loader proposals
.loader--proposals {
	height: 250px;
	width: 100%;
}
@media screen and (max-width: 1440px) {
	.loader--h1 {
		width: $SPACING_190;
		margin-bottom: $SPACING_2;
	}
	.loader--h3 {
		width: $SPACING_100;
		height: $SPACING_36;
	}
}
