/* #COMPONENT - STAT CARD
		1. Stat card default
		2. Stat card responsive
*/

// 1. Stat card default
.stat-card {
	display: flex;
	flex-direction: column;
	color: $WHITE;
	padding: $PX_32;
	border-radius: $BORDER_RADIUS_8;
	position: relative;
	background: $DARK_GREY;
}
.stat-card h3,
.stat-card h3 sup {
	color: $LIME;
}
.stat-card label {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: $HEADING_FIVE;
	margin-bottom: $PX_4;
	line-height: $PX_24;
}
.stat-card .tooltip--icon path {
	fill: $WHITE;
	transition: $TRANSITION_ALL;
}
.stat-card .tooltip--icon:hover path {
	fill: $LIME;
}

// 2. Stat card responsive
@media screen and (max-width: $PX_1440) {
	.stat-card {
		padding: $PX_24 $PX_32;
	}
	.stat-card label {
		font-size: $BODY_TEXT_SM;
		line-height: $PX_26;
	}
}
