// 1. Input manage default
.input-manage__wrapper {
	background-color: $MEDIUM_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_24;
	margin-bottom: $PX_8;
}
.input-manage-reverse {
	display: flex;
	flex-direction: column-reverse;
}
