/* #COMPONENT - BADGE
		1. Badge default
		2. Badge colors
		3. Badge risk
		4. Badge balance
		5. Badge price change
		6. Badge key
		7. Badge target peg
		8. Badge health status
		9. Badge responsive
*/

// 1. Badge default
.badge {
	border-radius: $BORDER_RADIUS_4;
	padding: $SPACING_5 $SPACING_16;
	font-size: $BODY_TEXT;
	line-height: $SPACING_21;
	text-transform: uppercase;
}

// 2. Badge colors
.badge--lime {
	background: $LIME;
	color: $DARK_GREY;
}
.badge--grey {
	border: $SPACING_1 solid $LIGHT_GREY;
	color: $LIGHT_GREY;
}
.badge--yellow {
	color: $WARNING;
	border: $SPACING_1 solid $WARNING;
}
.badge--green {
	color: $SUCCESS;
	border: $SPACING_1 solid $SUCCESS;
}
.badge--light-green {
	background: $LIGHT_GREEN;
}
.badge--orange {
	background: $ORANGE;
}

// 3. Badge Risk
.badge--high-risk,
.badge--medium-risk {
	padding: $SPACING_4 $SPACING_8;
	border-radius: $BORDER_RADIUS_8;
	font-size: $SPACING_12;
	margin-left: $SPACING_8;
}
.badge--high-risk {
	background-color: $DARK_GREY;
	border: $SPACING_1 solid $ERROR;
	color: $ERROR;
}
.badge--medium-risk {
	background-color: $DARK_GREY;
	border: $SPACING_1 solid $WARNING;
	color: $WARNING;
}

// 4. Badge balance
.badge--balance {
	background: $DARK_GREY;
	color: $LIME;
	padding: calc($SPACING_1 + 2px) $SPACING_16 $SPACING_1 $SPACING_16;
	border-radius: $BORDER_RADIUS_8;
}

// 5. Badge price change
.badge--price-up,
.badge--price-down,
.badge--price-same {
	background: $DARK_GREY;
	padding: $SPACING_1 $SPACING_16;
	border-radius: $BORDER_RADIUS_24;
	border: 1px solid;
}
.badge--price-up {
	border-color: $SUCCESS;
	color: $SUCCESS;
}
.badge--price-down {
	border-color: $ERROR;
	color: $ERROR;
}

// 6. Badge key
.badge--key {
	border-radius: 50%;
	padding: 0;
	height: $SPACING_12;
	width: $SPACING_12;
}

// 7. Badge target peg
.badge--target-peg {
	background: $MEDIUM_LIGHT_GREY;
	align-self: flex-start;
	color: $LIME;
	text-transform: none;
	border-radius: $BORDER_RADIUS_24;
	margin-top: $SPACING_8;
}

// 8. Badge health status
.badge--average,
.badge--healthy,
.badge--unhealthy {
	background-color: $DARK_GREY;
	border: $SPACING_1 solid $TRANSPARENT;
	border-radius: $BORDER_RADIUS_8;
}
.badge--average {
	border-color: $WARNING;
	color: $WARNING;
}
.badge--healthy {
	border-color: $SUCCESS;
	color: $SUCCESS;
}
.badge--unhealthy {
	border-color: $ERROR;
	color: $ERROR;
}

// 9. Badge responsive
@media screen and (max-width: $SPACING_1440) {
	.badge {
		font-size: $BODY_TEXT_XS;
		line-height: $SPACING_18;
	}
}
