/* #COMPONENT - SOCIAL SHARING */
.share-network-twitter {
	display: inherit;
	margin-left: $SPACING_24;
}
.share-network-twitter svg {
	height: $SPACING_24;
}
.share-network-twitter svg path {
	fill: $LIME;
}
