/* #COMPONENT - FORM
		1. Form default
*/

// 1. Form default
.form,
.form__block {
	display: flex;
	flex-direction: column;
}
.form label,
.form__block p {
	color: $LIGHT_GREY;
	font-size: $SPACING_14;
	line-height: $SPACING_20;
	margin-bottom: $SPACING_8;
}
.form sup {
	color: $ERROR;
}
.form__block {
	margin-bottom: $SPACING_24;
}
.form__block input,
.form__block textarea {
	padding: $SPACING_12 $SPACING_8 !important;
	width: 100% !important;
	border: $SPACING_1 solid $HIGHLIGHT_LIGHT_GREY !important;
	border-radius: $BORDER_RADIUS_8;
	color: $WHITE;
	line-height: $SPACING_24 !important;
	padding: 0;
	background: $TRANSPARENT;
}
.form__block .datepicker input,
.form__block .datepicker input::placeholder {
	font-size: $BODY_TEXT;
}
.form__block .datepicker input {
	border: $SPACING_1 solid $DARK_GREY;
	padding: $SPACING_12;
}
