/* #COMPONENT - TABS
		1. Tabs default
		2. Tabs size
		3. Tabs color
		4. Tabs image
		5. Tabs govern
		6. Tabs full
		7. Tabs responsive
*/

// 1. Tabs default
.tabs--default .tabs__header,
.tabs--full-width .tabs__header {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_16;
}
.tabs__header li {
	transition: $TRANSITION_ALL;
	cursor: pointer;
	margin-right: $PX_12;
	padding: $PX_12;
	border-radius: $BORDER_RADIUS_6;
}
.tabs__header li:hover {
	background: $MEDIUM_LIGHT_GREY;
}
.tabs__header li.link-disabled:hover {
	background: none;
	cursor: not-allowed;
}
.tabs__header li:hover h5 {
	color: $LIGHT_GREY;
}
.tabs__header li:last-child {
	margin-right: 0;
}
.tabs__header li h5 {
	color: $LIGHT_GREY;
	transition: $TRANSITION_ALL;
}
.tabs__header li.is-active {
	background: $LIME;
}
.tabs__header li.is-active:hover {
	cursor: not-allowed;
}
.tabs__header li.is-active h5 {
	color: $DARK_GREY;
}
.tabs__filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: $PX_24;
}

// 2. Tabs size
.tabs--thin .tabs__header {
	display: inline-flex;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_32;
	padding: $PX_8;
	margin-bottom: 0;
	width: auto !important;
}
.tabs--thin .tabs__header li {
	padding: $PX_8 $PX_20;
	margin-right: $PX_4;
	border-radius: $BORDER_RADIUS_24;
}
.tabs--thin .tabs__header li:hover {
	background: $DARK_GREY;
}
.tabs--thin .tabs__header li h5 {
	color: $LIGHT_GREY;
}
.tabs--thin .tabs__header li.is-active {
	background: $MEDIUM_GREY;
}
.tabs--thin .tabs__header li.is-active h5 {
	color: $LIME;
}
.tabs--full-width .tabs__header {
	width: 100%;
}

// 3. Tabs color
.tabs--light .tabs__header {
	background: $MEDIUM_LIGHT_GREY;
}
.tabs--dark .tabs__header {
	background: $DARK_GREY;
}

// 4. Tabs image
.tabs--image {
	background: $DARK_GREY;
	margin-bottom: $PX_12;
}
.tabs--image .tabs__header {
	margin-bottom: 0;
	width: 100%;
}
.tabs--image .tabs__header li {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.tabs--image .tabs__header li:last-child {
	margin-left: auto;
}
.tabs--image .tabs__header li img {
	margin-right: $PX_8;
}

// 5. Tabs govern
.tabs--govern {
	margin-top: -$PX_32;
}
.tabs--govern .tabs__header-parent {
	margin-bottom: $PX_48;
	padding-bottom: $PX_20;
	border-bottom: $PX_1 solid $MEDIUM_LIGHT_GREY;
}
.tabs--govern .tabs__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.tabs--govern .tabs__header li.is-active {
	background-color: $TRANSPARENT;
}
.tabs--govern .tabs__header li.is-active h5 {
	color: $LIME;
}

// 6. Tabs full
.tabs--full .tabs__header {
	justify-content: center;
	text-align: center;
}
.tabs--full .tabs__header li {
	margin-right: 0;
	width: 50%;
	border-radius: 0;
	border-bottom: $PX_2 solid $TRANSPARENT;
	padding-top: $PX_32;
	padding-bottom: $PX_32;
	border-bottom: $PX_2 solid $MEDIUM_LIGHT_GREY;
}
.tabs--full .tabs__header li:hover {
	background-color: $TRANSPARENT;
}
.tabs--full .tabs__header li.is-active {
	border-bottom: $PX_2 solid $LIME;
}

// 7. Tabs responsive
@media screen and (max-width: $PX_990) {
	.tabs--default .tabs__header,
	.tabs--full-width .tabs__header {
		padding: $PX_8;
	}
	.tabs__header li {
		padding: $PX_8 $PX_16;
	}
	.tabs__header li h5 {
		font-size: $PX_20;
		line-height: $PX_26;
	}
}
@media screen and (max-width: $PX_480) {
	.tabs__filter {
		flex-direction: column;
	}
	.tabs--mobile-scroll {
		width: $PX_350;
	}
	.tabs--mobile-scroll ul {
		display: grid !important;
		grid-template-columns: $PX_170;
		grid-auto-flow: column;
		grid-auto-columns: $PX_170 !important;
		overflow-x: scroll;
		scroll-snap-type: x proximity;
	}
	.tabs--mobile-scroll ul li.is-active,
	.tabs--mobile-scroll ul li {
		scroll-snap-align: center;
		text-align: center;
	}
}
