/* #LAYOUT - DATA CARD
		1. Data card default
*/

// 1. Data card default
.l-data-card-container {
	background: $LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $PX_40;
	margin-top: $PX_16;
}
.l-data-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: $PX_16;
}
