/* #LAYOUT - PEG ZONE */
.l-peg-zone {
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $SPACING_48;
	margin-bottom: $SPACING_48;
}
.l-peg-zone hr {
	margin: $SPACING_40 0;
	height: 2px;
	background: $LIGHT_GREY;
	border: 0;
}
.l-peg-zone .data-card--end .btn {
	height: $SPACING_64;
}
@media screen and (max-width: 480px) {
	.l-peg-zone {
		padding: $SPACING_32;
	}
	.l-peg-zone hr {
		margin: $SPACING_32 0;
	}
}
