/* #LAYOUT - FOOTER
		1. Footer default
		2. Footer responsive
*/

// 1. Footer default
.l-footer {
	display: flex;
	flex-direction: column;
	padding: 0 $PX_32;
}
.l-footer .block-number {
	display: flex;
	flex-direction: row;
}
.l-footer .block-number a {
	margin-left: 0.2rem;
}
.l-footer .app-info {
	display: flex;
	flex-direction: column;
	padding-bottom: $PX_48;
}
.l-footer .app-info p,
.l-footer .app-info a {
	color: $WHITE;
	margin-bottom: 0;
	font-size: $BODY_TEXT_XS;
	line-height: $PX_24;
}

// 2. Footer responsive
@media screen and (max-width: $PX_1440) {
	.l-footer .app-info {
		padding-bottom: $PX_21;
	}
}
