/* #LAYOUT - INFO */
.l-info {
	display: grid;
	column-gap: $SPACING_72;
	background: $WHITE;
	border-radius: $BORDER_RADIUS_48;
	padding: $SPACING_64;
}
.l-info--3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.l-info--4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
