/* #LAYOUT - FLEX
		1. Flex default
		2. Flex row
		3. Flex column
		4. Flex responsive
*/

// 1. Flex default
.l-flex {
	display: flex;
}

// 2. Flex row
.l-flex--row {
	flex-direction: row;
}
.l-flex--row-wrap {
	flex-direction: row;
	flex-wrap: wrap;
}
.l-flex--row-wrap-start {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}
.l-flex--row-center {
	flex-direction: row;
	align-items: center;
}
.l-flex--row-space-between {
	flex-direction: row;
	justify-content: space-between;
}
.l-flex--row-space-around {
	flex-direction: row;
	justify-content: space-around;
}
.l-flex--row-center-space-between {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.l-flex--row-center-space-around {
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.l-flex--row-start-space-between {
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.l-flex--row-end-space-between {
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
.l-flex--row-justify-center {
	justify-content: center;
}
.l-flex--row-justify-end {
	justify-content: flex-end;
}
.l-flex--wrap {
	flex-wrap: wrap;
}

// 3. Flex column
.l-flex--column {
	flex-direction: column;
}
.l-flex--column-reverse {
	flex-direction: column-reverse;
}
.l-flex--column-start {
	flex-direction: column;
	align-items: flex-start;
}
.l-flex--column-end {
	flex-direction: column;
	align-items: flex-end;
}
.l-flex--align-self-start {
	align-self: flex-start;
}
.l-flex--align-self-end {
	align-self: flex-end;
}
.l-flex--column-center {
	flex-direction: column;
	align-items: center;
}
.l-flex--column-wrap {
	flex-direction: column;
	flex-wrap: wrap;
}
.l-flex--column-justify-between {
	flex-direction: column;
	justify-content: space-between;
}
.l-flex--border-row > div:not(:first-child) {
	border-left: $PX_1 solid $HIGHLIGHT_LIGHT_GREY;
	padding-left: $PX_40;
}
.l-flex--border-column > div:not(:first-child) {
	border-top: $PX_1 solid $HIGHLIGHT_LIGHT_GREY;
	padding-top: $PX_32;
}
// 4. Flex responsive
@media screen and (max-width: $PX_990) {
	.l-flex--column-reverse-md {
		flex-direction: column-reverse;
	}
	.l-flex--column-start-md {
		flex-direction: column;
		align-items: flex-start;
	}
	.l-flex--align-self-start-md {
		align-self: flex-start;
	}
	.l-flex--column-md {
		flex-direction: column;
	}
	.l-flex--row-justfify-start-sm {
		justify-content: flex-start;
	}
}
@media screen and (max-width: $PX_480) {
	.l-flex--column-sm {
		flex-direction: column;
	}
	.l-flex--column-start-sm {
		flex-direction: column;
		align-items: flex-start;
	}
}
