/* #LAYOUT - COLLATERAL
		1. Collateral default
		2. Collateral distribution
		3. Collateral responsive
*/

// 1. Collateral default
.l-collateral,
.l-collateral__toggle-btn {
	border-radius: $BORDER_RADIUS_16;
	padding: $PX_32;
}
.l-collateral__toggle-btn {
	cursor: pointer;
}
.l-collateral {
	display: flex;
	background-color: $MEDIUM_LIGHT_GREY;
	margin-bottom: $PX_24;
}
.l-collateral__toggle-btn,
.l-collateral__toggle-btn label {
	cursor: pointer;
}
.l-collateral__toggle-btn.is-active {
	background-color: $HIGHLIGHT_GREY;
}
.l-collateral__toggle-btn:first-child {
	margin-bottom: $PX_16;
}
.l-collateral__toggle-btn label {
	display: flex;
	align-items: center;
	margin-bottom: $PX_4;
}
.l-collateral__toggle {
	width: 35%;
	margin-right: $PX_24;
}
.l-collateral__chart {
	width: 65%;
}

// 2. Collateral distribution
.l-collateral__donut {
	width: 25%;
	margin-right: $PX_24;
}
.l-collateral__donut label {
	color: $LIGHT_GREY;
}
.l-collateral__table {
	width: 75%;
}

// 3. Collateral responsive
@media screen and (max-width: $PX_990) {
	.l-collateral {
		flex-direction: column;
	}
	.l-collateral__donut,
	.l-collateral__table,
	.l-collateral__toggle,
	.l-collateral__chart {
		width: 100%;
	}
	.l-collateral__toggle {
		margin-right: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
