/* #LAYOUT - ERROR
		1. Error default
*/

// 1. Error default
.l-error-container {
	background: $LIGHT_GREY;
	border-radius: $BORDER_RADIUS_8;
	padding: $SPACING_48 $SPACING_96;
	margin-top: $SPACING_16;
	text-align: center;
}
.l-error-container h3 {
	margin-bottom: $SPACING_16;
}
