/* #LAYOUT - GRID */
.l-grid {
	display: grid;
}
.l-grid--column-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: $SPACING_24;
}
.l-grid--column-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
	column-gap: $SPACING_32;
}
.l-grid--column-3-stretch {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: $SPACING_24;
}
.l-grid--column-3-stretch .stat-card:nth-child(1) {
	grid-area: 1 / 1 / 2 / 2;
}
.l-grid--column-3-stretch .stat-card:nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}
.l-grid--column-3-stretch .stat-card:nth-child(3) {
	grid-area: 1 / 3 / 2 / 8;
}
.l-grid--column-3-stretch-alt {
	grid-template-columns: 0.6fr 1.5fr 1.5fr;
	column-gap: $SPACING_24;
}
.l-grid-side-panel {
	padding: $SPACING_48 $SPACING_100 0;
	display: grid;
	grid-template-columns: calc(60% - 16px) calc(40% - 16px);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: $SPACING_24;
	grid-row-gap: $SPACING_24;
	max-height: 0;
}
.proposal-details {
	grid-area: 1 / 1 / 4 / 2;
}
.panel:nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}
.panel:nth-child(3) {
	grid-area: 2 / 2 / 3 / 3;
}
.panel:nth-child(1) {
	grid-area: 3 / 2 / 4 / 3;
}
@media screen and (max-width: 1440px) {
	.l-grid--column-3-stretch {
		column-gap: $SPACING_12;
	}
	.l-grid--column-3-stretch-alt {
		column-gap: $SPACING_12;
	}
	.l-grid-side-panel {
		padding: $SPACING_24 $SPACING_60 $SPACING_24 $SPACING_80;
		grid-column-gap: $SPACING_12;
		grid-row-gap: $SPACING_12;
	}
}
@media screen and (max-width: 990px) {
	.l-grid {
		display: flex;
		flex-direction: column;
	}
}
