/* #LAYOUT - SIDEBAR */
.l-sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: $DARK_GREY;
	width: $SPACING_300;
	overflow-y: auto;
	transition: transform 0.3s ease-in-out;
	z-index: 3;
}
@media screen and (max-width: 1440px) {
	.l-sidebar {
		width: $SPACING_250;
	}
}
@media screen and (max-width: 990px) {
	.l-sidebar {
		transform: translateX(-100%);
		width: 75%;
	}
	.l-sidebar.is-active {
		transform: translateX(0%);
	}
}
@media screen and (max-width: 480px) {
	.l-sidebar {
		width: 100%;
	}
}
