/* #LAYOUT - FOOTER */
.l-footer {
	display: flex;
	flex-direction: column;
	padding: 0 $SPACING_32;
}
.l-footer .block-number {
	display: flex;
	flex-direction: row;
}
.l-footer .block-number a {
	margin-left: 0.2rem;
}
.l-footer .app-info {
	display: flex;
	flex-direction: column;
	padding-bottom: $SPACING_48;
}
.l-footer .app-info p,
.l-footer .app-info a {
	color: $WHITE;
	margin-bottom: 0;
	font-size: $BODY_TEXT_XS;
	line-height: $SPACING_24;
}
