/* #LAYOUT - MAIN */
.l-main {
	flex: 1;
	background: $LIGHT_GREY;
	margin-left: $SPACING_328;
}
@media screen and (max-width: 1440px) {
	.l-main {
		margin-left: $SPACING_250;
	}
}
@media screen and (max-width: 990px) {
	.l-main {
		margin-left: 0;
	}
}
