/* #LAYOUT - HEADER
		1. Header default
*/

// 1. Header default
.l-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.l-header.u-border {
	margin-bottom: $PX_48;
	padding-bottom: $PX_24;
	border-bottom: $PX_1 solid $MEDIUM_LIGHT_GREY;
}
