/* #LAYOUT - STAT BAR
		1. Stat bar default
*/

// 1. Stat bar default
.l-stat-bar {
	display: grid;
	grid-gap: $PX_16;
	padding: $PX_16 $PX_40;
	background: $LIGHT_GREY;
}
.l-stat-bar--3 {
	grid-template-columns: repeat(3, 1fr);
}
.l-stat-bar--4 {
	grid-template-columns: repeat(4, 1fr);
}
