/* #LAYOUT - CONTAINER
		1. Container default
		2. Container responsive
*/

// 1. Container default
.l-container {
	width: 100%;
	margin: 0 auto;
}
.l-container--md {
	padding: $PX_72 $PX_100 0;
}
.l-container--sm {
	max-width: $PX_650;
	padding: $PX_32 0;
}
.l-container--error {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.l-container--error h1 {
	font-size: $HEADING_ONE_LG;
	line-height: $PX_120;
}

// 2. Container responsive
@media screen and (max-width: $PX_1440) {
	.l-container--md {
		padding: $PX_72 $PX_80 0;
	}
	.l-container--sm {
		max-width: $PX_660;
	}
	.l-container--error h1 {
		font-size: $HEADING_ONE_LG_1440;
	}
}
@media screen and (max-width: $PX_990) {
	.l-container--md {
		padding: $PX_48 $PX_50 0;
	}
	.l-container--sm {
		padding: $PX_48 $PX_50 0;
		max-width: inherit;
	}
}
@media screen and (max-width: $PX_480) {
	.l-container--md {
		padding: $PX_48 $PX_24 0;
	}
	.l-container--sm {
		padding: $PX_36 $PX_24 0;
	}
}
