/*
	#LAYOUT - UTILITIES
		1. Margin bottom
		2. Margin right
		3. Margin top
		4. Padding all
		5. Padding top
		6. Padding bottom
		7. Color
		8. Border
*/

// 1. Margin bottom
.u-mb-0 {
	margin-bottom: 0 !important;
}
.u-mb-8 {
	margin-bottom: $SPACING_8 !important;
}
.u-mb-12 {
	margin-bottom: $SPACING_12 !important;
}
.u-mb-20 {
	margin-bottom: $SPACING_20 !important;
}
.u-mb-24 {
	margin-bottom: $SPACING_24 !important;
}
.u-mb-36 {
	margin-bottom: $SPACING_36 !important;
}
.u-mb-48 {
	margin-bottom: $SPACING_48 !important;
}
.u-mb-56 {
	margin-bottom: $SPACING_56 !important;
}
.u-mb-64 {
	margin-bottom: $SPACING_64 !important;
}
@media screen and (max-width: 1440px) {
	.u-mb-lg-14 {
		margin-bottom: $SPACING_14 !important;
	}
	.u-mb-lg-48 {
		margin-bottom: $SPACING_48 !important;
	}
}
@media screen and (max-width: 990px) {
	.u-mb-md-36 {
		margin-bottom: $SPACING_36 !important;
	}
}

// 2. Margin right
.u-mr-24 {
	margin-right: $SPACING_24 !important;
}
.u-mr-30 {
	margin-right: $SPACING_30 !important;
}
.u-mr-32 {
	margin-right: $SPACING_32 !important;
}
@media screen and (max-width: 1440px) {
	.u-mr-lg-24 {
		margin-right: $SPACING_24 !important;
	}
}
@media screen and (max-width: 990px) {
	.u-mr-md-12 {
		margin-right: $SPACING_12 !important;
	}
}

// 3. Margin top
.u-mt-4 {
	margin-top: $SPACING_4 !important;
}
.u-mt-12 {
	margin-top: $SPACING_12 !important;
}

// 4. Padding all
.u-p-0 {
	padding: 0 !important;
}

// 5. Padding top
.u-pt-0 {
	padding-top: 0 !important;
}
.u-pt-48 {
	padding-top: $SPACING_48 !important;
}

// 6. Padding bottom
.u-pb-8 {
	padding-bottom: $SPACING_8 !important;
}

// 7. Color
.u-color-light-grey {
	color: $LIGHT_GREY !important;
}

// 8. Border
.u-bb-white {
	border-bottom: 1px solid $WHITE !important;
}

// Width
.u-w-115 {
	width: 115.36px !important;
}
.u-w-254 {
	width: 254px !important;
}
.u-half-width {
	width: 50% !important;
}
.u-full-width {
	width: 100% !important;
}

// Display
.u-display-desktop {
	display: none !important;
}
@media screen and (max-width: 990px) {
	.u-display-desktop {
		display: block !important;
		padding: 0 !important;
	}
}
// Validation
.u-is-warning {
	color: $ERROR !important;
}
.u-is-success {
	color: $SUCCESS !important;
}
// Position
.u-position-sticky {
	position: sticky !important;
	top: 0 !important;
	background: $DARK_GREY !important;
	z-index: 2 !important;
}
// Transition
.u-no-transition {
	transition: none !important;
}
.u-no-transition:hover {
	transform: none !important;
}
// Text alignment
.u-text-center {
	text-align: center !important;
}
.u-text-right {
	text-align: right !important;
}
// Flex
.u-flex-row-center {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
}
// White space
.u-white-space-pre {
	white-space: pre-line !important;
}
// Colour
.u-colour-grey-dark {
	color: $DARK_GREY !important;
}
// Prompt
.u-green-prompt {
	background: $SUCCESS !important;
}
.u-green-prompt p {
	color: $WHITE !important;
}
.selected-svg {
	fill: $SUCCESS;
}
