/* #LAYOUT - CONTAINER
		1. Container default
		2. Container responsive
*/

// 1. Container default
.l-container {
	width: 100%;
	margin: 0 auto;
}
.l-container--md {
	padding: $SPACING_72 $SPACING_100 0;
}
.l-container--sm {
	max-width: $SPACING_870;
	padding: $SPACING_32 0;
}

// 2. Container responsive
@media screen and (max-width: 1440px) {
	.l-container--md {
		padding: $SPACING_72 $SPACING_80 0;
	}
	.l-container--sm {
		max-width: $SPACING_660;
	}
}
@media screen and (max-width: 990px) {
	.l-container--md {
		padding: $SPACING_48 $SPACING_50 0;
	}
	.l-container--sm {
		padding: $SPACING_48 $SPACING_50 0;
		max-width: inherit;
	}
}
@media screen and (max-width: 480px) {
	.l-container--md {
		padding: $SPACING_48 $SPACING_24 0;
	}
	.l-container--sm {
		padding: $SPACING_36 $SPACING_24 0;
	}
}
