/* #LAYOUT - CONTAINER */
.l-container {
	width: 100%;
	margin: 0 auto;
}
.l-container--md {
	padding: $SPACING_72 $SPACING_100 0;
}
.l-container--sm {
	max-width: 54.375rem;
	padding: $SPACING_32 0;
}
@media screen and (max-width: 1440px) {
	.l-container--md {
		padding: $SPACING_72 $SPACING_80 0;
	}
}
@media screen and (max-width: 990px) {
	.l-container--md {
		padding: $SPACING_48 $SPACING_100 0;
	}
	.l-container--sm {
		padding: $SPACING_36 $SPACING_100 0;
	}
}
@media screen and (max-width: 480px) {
	.l-container--md {
		padding: $SPACING_48 $SPACING_24 0;
	}
	.l-container--sm {
		padding: $SPACING_36 $SPACING_24 0;
	}
}
