/* #LAYOUT - INFO */
.l-info {
	display: grid;
	column-gap: $SPACING_120;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $SPACING_48;
}
.l-info--2 {
	grid-template-columns: 3fr 1fr;
}
.l-info--2 .data-card:last-child {
	justify-self: end;
}
.l-info--3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.l-info--4 {
	grid-template-columns: 1fr 1fr 1.8fr 1fr;
}
@media screen and (max-width: 1440px) {
	.l-info {
		padding: $SPACING_36;
		column-gap: $SPACING_38;
	}
}
@media screen and (max-width: 990px) {
	.l-info {
		padding: $SPACING_36;
	}
	.l-info--4 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media screen and (max-width: 480px) {
	.l-info {
		display: flex;
		flex-direction: column;
		padding: $SPACING_32;
	}
	.l-info .data-card {
		margin-bottom: $SPACING_24;
	}
	.l-info .data-card:last-child {
		margin-bottom: 0;
	}
}
