/* #LAYOUT - MAIN
		1. Main default
		2. Main responsive
*/

// 1. Main default
.l-main {
	flex: 1;
	margin-left: $PX_300;
}

// 2. Main responsive
@media screen and (max-width: $PX_1440) {
	.l-main {
		margin-left: $PX_265;
	}
}
@media screen and (max-width: $PX_990) {
	.l-main {
		margin-left: 0;
	}
}
