/* #LAYOUT - FLEX */
.l-flex {
	display: flex;
}
.l-flex--row {
	flex-direction: row;
}
.l-flex--row-wrap {
	flex-direction: row;
	flex-wrap: wrap;
}
.l-flex--row-center {
	flex-direction: row;
	align-items: center;
}
.l-flex--row-space-between {
	flex-direction: row;
	justify-content: space-between;
}
.l-flex--row-space-around {
	flex-direction: row;
	justify-content: space-around;
}
.l-flex--row-center-space-between {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.l-flex--row-start-space-between {
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.l-flex--row-end-space-between {
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
.l-flex--row-justify-center {
	justify-content: center;
}
.l-flex--row-justify-end {
	justify-content: flex-end;
}
.l-flex--column {
	flex-direction: column;
}
.l-flex--column-end {
	flex-direction: column;
	align-items: flex-end;
}
.l-flex--align-self-start {
	align-self: flex-start;
}
.l-flex--column-center {
	flex-direction: column;
	align-items: center;
}
@media screen and (max-width: 990px) {
	.l-flex-column-start-md {
		flex-direction: column;
		align-items: flex-start;
	}
	.l-flex-column-md {
		flex-direction: column;
	}
}
@media screen and (max-width: 480px) {
	.l-flex-column-sm {
		flex-direction: column;
	}
	.l-flex-column-start-sm {
		flex-direction: column;
		align-items: flex-start;
	}
}
