/* #LAYOUT - GRID
		1. Grid default
		2. Grid responsive
*/

// 1. Grid default
.l-grid {
	display: grid;
}
.l-grid--column-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: $PX_24;
}
.l-grid--column-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
	column-gap: $PX_32;
}
.l-grid--column-3-stretch {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: $PX_24;
}
.l-grid--column-3-stretch-alt {
	grid-template-columns: 0.6fr 1.5fr 1.5fr;
	column-gap: $PX_24;
}
.l-grid--column-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: $PX_24;
}
.l-grid-side-panel {
	padding: $PX_48 $PX_100 0;
	display: grid;
	grid-template-columns: calc(60% - $PX_16) calc(40% - $PX_16);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: $PX_24;
	grid-row-gap: $PX_24;
	max-height: 0;
}
.proposal-details {
	grid-area: 1 / 1 / 4 / 2;
}
.panel:nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}
.panel:nth-child(3) {
	grid-area: 2 / 2 / 3 / 3;
}
.panel:nth-child(1) {
	grid-area: 3 / 2 / 4 / 3;
}
.l-grid-account-balance {
	display: flex;
	flex-direction: column;
	background: $MEDIUM_LIGHT_GREY;
	border-radius: $BORDER_RADIUS_16;
	padding: $PX_32;
	margin-bottom: $PX_48;
}
.l-grid-account-balance h4 {
	font-size: $BODY_TEXT;
	line-height: $PX_28;
}
.l-grid-account-balance__body {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.l-grid-account-balance__body .l-flex {
	width: 100%;
}
.l-grid-account-balance__body .l-flex .data-card {
	flex: 1;
	margin-right: $PX_30;
}
.l-grid-account-balance__body .l-flex .data-card:last-child {
	margin-right: 0;
}
.l-grid-account-balance__body .donut-chart-balance {
	width: calc(25% - $PX_30);
	min-height: $PX_141;
	margin-right: $PX_30;
}

// 2. Grid responsive
@media screen and (max-width: $PX_1440) {
	.l-grid--column-3-stretch {
		column-gap: $PX_12;
	}
	.l-grid--column-3-stretch-alt {
		column-gap: $PX_12;
	}
	.l-grid-side-panel {
		padding: $PX_24 $PX_60 $PX_24 $PX_80;
		grid-column-gap: $PX_12;
		grid-row-gap: $PX_12;
	}
}
@media screen and (max-width: $PX_990) {
	.l-grid {
		display: flex;
		flex-direction: column;
	}
	.l-grid-side-panel {
		padding: $PX_36 $PX_30 $PX_36 $PX_50;
	}
	.l-grid-account-balance {
		display: flex;
		flex-direction: column;
	}
	.l-grid-account-balance__panel-one,
	.l-grid-account-balance__panel-two,
	.l-grid-account-balance__panel-three,
	.l-grid-account-balance__panel-four,
	.l-grid-account-balance__panel-five,
	.l-grid-account-balance__panel-six {
		align-self: flex-start;
	}
	.l-grid-account-balance__panel-one,
	.l-grid-account-balance__panel-two,
	.l-grid-account-balance__panel-three,
	.l-grid-account-balance__panel-four,
	.l-grid-account-balance__panel-five {
		margin-bottom: $PX_16;
	}
	.l-grid-account-balance__panel-six {
		border-left: 0;
		border-top: $PX_1 solid $LIGHT_GREY;
		padding-left: 0;
		width: 100%;
		padding-top: $PX_16;
	}
}
@media screen and (max-width: $PX_480) {
	.l-grid-side-panel {
		display: flex;
		flex-direction: column;
		grid-column-gap: 0;
		grid-row-gap: 0;
		max-height: unset;
		padding: $PX_12 $PX_24;
	}
}
