/* #LAYOUT - COLLATERAL
		1. Collateral default
		2. Collateral distribution
*/

// 1. Collateral default
.l-collateral,
.l-collateral__toggle-btn {
	border-radius: $BORDER_RADIUS_16;
	padding: $SPACING_32;
}
.l-collateral {
	display: flex;
	background-color: $MEDIUM_LIGHT_GREY;
	margin-bottom: $SPACING_24;
}
.l-collateral__toggle-btn,
.l-collateral__toggle-btn label {
	cursor: pointer;
}
.l-collateral__toggle-btn.is-active {
	background-color: $HIGHLIGHT_GREY;
}
.l-collateral__toggle-btn:first-child {
	margin-bottom: $SPACING_16;
}
.l-collateral__toggle-btn label {
	display: flex;
	align-items: center;
	margin-bottom: $SPACING_4;
}
.l-collateral__toggle {
	width: 35%;
	margin-right: $SPACING_24;
}
.l-collateral__chart {
	width: 65%;
}

// 2. Collateral distribution
.l-collateral__donut {
	width: 25%;
	margin-right: $SPACING_24;
}
.l-collateral__donut label {
	color: $LIGHT_GREY;
}
.l-collateral__table {
	width: 75%;
}
