/* #LAYOUT - SIDEBAR
		1. Sidebar default
		2. Sidebar responsive
*/

// 1. Sidebar default
.l-sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: $DARK_GREY;
	width: $SPACING_300;
	overflow-y: auto;
	transition: transform 0.3s ease-in-out;
	z-index: 3;
}

// 2. Sidebar responsive
@media screen and (max-width: $SPACING_1440) {
	.l-sidebar {
		width: $SPACING_265;
	}
}
@media screen and (max-width: $SPACING_990) {
	.l-sidebar--top .logo {
		display: none;
	}
	.l-sidebar--top {
		padding-top: $SPACING_16;
	}
	.l-sidebar {
		transform: translateX(-100%);
		width: 75%;
		top: $SPACING_79;
	}
	.l-sidebar.is-active {
		transform: translateX(0%);
	}
}
@media screen and (max-width: $SPACING_480) {
	.l-sidebar {
		width: 100%;
	}
}
