/* #BASE - TYPOGRAPHY
		1. Typography default
		2. Typography responsive
*/

// 1. Typography default
h1,
h2,
h3,
h4,
h5 {
	font-family: $FONT_BODY;
	color: $WHITE;
	word-break: break-word;
	word-wrap: break-word;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
h1,
h2,
h3 {
	font-weight: 500;
}
h4,
h5 {
	font-weight: 400;
}
h1 {
	font-size: $HEADING_ONE;
	line-height: $PX_42;
}
h2 {
	font-size: $HEADING_TWO;
	line-height: $PX_48;
}
h3 {
	font-size: $HEADING_THREE;
	line-height: $PX_45;
}
h4 {
	font-size: $HEADING_FOUR;
	line-height: $PX_36;
}
h5 {
	font-size: $HEADING_FIVE;
	line-height: $PX_22;
}
p,
blockquote,
ul,
ol,
time,
sup {
	color: $WHITE;
	line-height: $PX_24;
	margin-top: 0;
	margin-bottom: $PX_10;
	word-break: break-word;
	word-wrap: break-word;
}
h1 sup,
h3 sup {
	font-size: $BODY_TEXT;
}
h1 sup {
	top: -$PX_20;
}
h3 sup {
	top: -$PX_10;
}
sup {
	line-height: $PX_21;
	margin-bottom: 0;
}
ul,
li {
	padding-left: 0;
	list-style: none;
}
ol {
	list-style-type: decimal;
}

// 2. Typography responsive
@media screen and (max-width: $PX_1440) {
	h1 {
		font-size: $HEADING_ONE_1440;
	}
	h2 {
		font-size: $HEADING_TWO_1440;
		line-height: $PX_32;
	}
	h3 {
		font-size: $HEADING_THREE_1440;
		line-height: $PX_36;
	}
	h4 {
		font-size: $HEADING_FOUR_1440;
		line-height: $PX_28;
	}
	h5 {
		font-size: $HEADING_FIVE_1440;
		line-height: $PX_18;
	}
	p {
		font-size: $BODY_TEXT_SM;
		line-height: $PX_24;
	}
	sup {
		line-height: $PX_18;
	}
}
@media screen and (max-width: $PX_990) {
	h1 {
		font-size: $HEADING_ONE_990;
		line-height: $PX_36;
	}
	h2 {
		font-size: $HEADING_TWO_990;
		line-height: $PX_28;
	}
	h3 {
		font-size: $HEADING_THREE_990;
		line-height: $PX_22;
	}
	h4 {
		font-size: $HEADING_FOUR_990;
		line-height: $PX_26;
	}
	h5 {
		font-size: $HEADING_FIVE_990;
		line-height: $PX_18;
	}
	p {
		font-size: $BODY_TEXT_XS;
		line-height: $PX_18;
	}
}
@media screen and (max-width: $PX_480) {
	h1 {
		font-size: $HEADING_ONE_480;
		line-height: $PX_36;
	}
	h2 {
		font-size: $HEADING_TWO_480;
		line-height: $PX_28;
	}
	h3 {
		font-size: $HEADING_THREE_480;
		line-height: $PX_36;
	}
	h4 {
		font-size: $HEADING_FOUR_480;
		line-height: $PX_26;
	}
	h5 {
		font-size: $HEADING_FIVE_480;
		line-height: $PX_18;
	}
	h1 sup {
		font-size: $BODY_TEXT_SM;
		top: -$PX_10;
	}
}
