/* #BASE - BASE */
html {
	@include font-smoothing(antialiased);
	font-family: $FONT_BODY;
	font-size: $BODY_TEXT;
	font-weight: normal;
}
body {
	color: $WHITE;
	background: $MEDIUM_GREY;
	text-rendering: optimizeLegibility;
}
body.is-active {
	overflow: hidden;
}
*,
:after,
:before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: $LIME;
	cursor: pointer;
}
a:hover {
	color: $LIME;
	text-decoration: none;
}
a:focus {
	outline: none;
	text-decoration: none;
}
::selection {
	background: $LIME;
	color: $DARK_GREY;
}
::-moz-selection {
	background: $LIME;
	color: $DARK_GREY;
}
.mobile-blocker,
.follow {
	display: flex;
	flex-direction: column;
}
.mobile-blocker {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999;
	background-color: $DARK_GREY;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;
	padding: $PX_100 $PX_64;
}
.mobile-blocker svg {
	margin-bottom: $PX_64;
}
.mobile-blocker h1 {
	margin-bottom: $PX_32;
}
.mobile-blocker h3,
.mobile-blocker h4 {
	margin-bottom: $PX_16;
}
.mobile-blocker h4 {
	color: $LIGHT_GREY;
}
.mobile-blocker svg,
.follow a,
.mobile-blocker h1,
.mobile-blocker h4,
.mobile-blocker p {
	z-index: 10;
	position: relative;
}
.tuned {
	width: 100%;
}
.follow {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
}
.follow a {
	margin-right: $PX_32;
}
.follow a:last-child {
	margin-right: 0;
}
.mobile-blocker:before {
	content: url("data:image/svg+xml,%3Csvg width='172' height='466' viewBox='0 0 172 466' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M128.641 2.96943L125.301 5.93636L124.789 42.1143C124.281 78.0827 124.264 78.3065 121.949 80.6091L119.62 82.9248L61.7645 83.4335L3.90938 83.9423L1.95469 86.3445C0.0818322 88.646 0 91.1541 0 146.166V203.587L2.51113 206.084L5.02123 208.582H62.4151C99.5797 208.582 120.498 208.214 121.765 207.541C126.219 205.169 126.3 204.282 126.835 151.776C127.509 85.6058 125.291 87.9358 156.498 120.607C197.702 163.745 256.657 194.999 314.53 204.385C318.468 205.024 325.948 206.229 331.152 207.064C346.387 209.508 358.252 209.144 361.78 206.126L364.65 203.67V151.72C364.65 100.46 364.622 99.7415 362.523 97.6536C360.307 95.4498 349.124 92.5907 342.721 92.5907C331.986 92.5907 302.624 83.7724 286.978 75.8483C256.939 60.6362 231.449 37.257 214.317 9.20343C208.491 -0.337326 210.182 0.00149001 168.327 0.00149001H131.982L128.641 2.96943ZM5.13476 258.661C0.0511399 261.351 0.0306852 261.569 0.0153423 315.748L0 366.445L2.98982 369.419C5.48254 371.899 6.81533 372.393 11.0019 372.393C15.6989 372.393 19.7781 372.962 33.7545 375.564C78.4341 383.88 119.175 411.615 147.302 452.861C151.259 458.661 155.522 463.975 156.775 464.668C158.467 465.603 168.633 465.937 196.18 465.964L233.306 466L235.816 463.502L238.327 461.005V426.414C238.327 401.76 238.678 391.055 239.549 389.153C242.116 383.549 241.71 383.585 301.744 383.585C362.156 383.585 361.575 383.639 364.02 377.765C364.892 375.673 365.137 359.885 364.932 319.235L364.65 263.569L361.815 260.749L358.98 257.929L303.019 257.649C262.153 257.444 246.282 257.689 244.179 258.555C238.334 260.963 238.327 261.029 238.327 313.701C238.327 360.967 238.284 361.999 236.206 364.625C232.458 369.366 228.638 368.381 222.006 360.965C181.361 315.513 138.024 286.91 84.8976 270.472C63.083 263.722 53.0415 261.953 13.8086 257.946C9.60468 257.517 6.87261 257.742 5.13476 258.661Z' fill='%231C1C1D'/%3E%3C/svg%3E%0A");
	position: absolute;
	right: 0;
	bottom: $PX_175;
}
@media screen and (max-width: $PX_990) {
	body {
		overflow: hidden;
		position: fixed;
	}
}
