/* #BASE - TYPOGRAPHY
		1. Typography default
		2. Typography responsive
*/

// 1. Typography default
h1,
h2,
h3,
h4,
h5 {
	color: $WHITE;
	word-break: break-word;
	word-wrap: break-word;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
h1,
h2,
h4 {
	font-family: $FONT_HEADING_MEDIUM;
}
h3 {
	font-family: $FONT_HEADING_SEMIBOLD;
}
h5 {
	font-family: $FONT_BODY;
	font-weight: normal;
}
h1 {
	font-size: $HEADING_ONE;
	line-height: $SPACING_48;
}
h2 {
	font-size: $HEADING_TWO;
	line-height: $SPACING_48;
}
h3 {
	font-size: $HEADING_THREE;
	line-height: $SPACING_45;
}
h4 {
	font-size: $HEADING_FOUR;
	line-height: $SPACING_36;
}
h5 {
	font-size: $HEADING_FIVE;
	line-height: $SPACING_24;
}
p,
blockquote,
ul,
ol,
time,
sup {
	color: $WHITE;
	line-height: $SPACING_24;
	margin-top: 0;
	margin-bottom: $SPACING_10;
	word-break: break-word;
	word-wrap: break-word;
}
sup {
	line-height: $SPACING_21;
	margin-bottom: 0;
}
ul,
li {
	padding-left: 0;
	list-style: none;
}
ol {
	list-style-type: decimal;
}

// 2. Typography responsive
@media screen and (max-width: 1440px) {
	h1 {
		font-size: $HEADING_ONE_1440;
		line-height: $SPACING_48;
	}
	h2 {
		font-size: $HEADING_TWO_1440;
		line-height: $SPACING_32;
	}
	h3 {
		font-size: $HEADING_THREE_1440;
		line-height: $SPACING_36;
	}
	h4 {
		font-size: $HEADING_FOUR_1440;
		line-height: $SPACING_28;
	}
	h5 {
		font-size: $HEADING_FIVE_1440;
		line-height: $SPACING_26;
	}
	p {
		font-size: $BODY_TEXT_SM;
		line-height: $SPACING_24;
	}
}
@media screen and (max-width: 990px) {
	h1 {
		font-size: $HEADING_ONE_990;
		line-height: $SPACING_36;
	}
	h2 {
		font-size: $HEADING_TWO_990;
		line-height: $SPACING_28;
	}
	h3 {
		font-size: $HEADING_THREE_990;
		line-height: $SPACING_36;
	}
	h4 {
		font-size: $HEADING_FOUR_990;
		line-height: $SPACING_26;
	}
	h5 {
		font-size: $HEADING_FIVE_990;
		line-height: $SPACING_26;
	}
}
@media screen and (max-width: 480px) {
	h1 {
		font-size: $HEADING_ONE_480;
		line-height: $SPACING_36;
	}
	h2 {
		font-size: $HEADING_TWO_480;
		line-height: $SPACING_28;
	}
	h3 {
		font-size: $HEADING_THREE_480;
		line-height: $SPACING_36;
	}
	h4 {
		font-size: $HEADING_FOUR_480;
		line-height: $SPACING_26;
	}
	h5 {
		font-size: $HEADING_FIVE_480;
		line-height: $SPACING_18;
	}
	p {
		font-size: $BODY_TEXT_XS;
		line-height: $SPACING_18;
	}
}
