/* #SETTINGS - SPACING */
$SPACING_XXXXS: 0.25rem;
$SPACING_XXXS: 0.5rem;
$SPACING_XXS: 0.75rem;
$SPACING_XS: 1rem;
$SPACING_SM: 1.5rem;
$SPACING_MD: 2rem;
$SPACING_LG: 4rem;
$SPACING_XLG: 6rem;

/* NEW */
$SPACING_4: 0.25rem;
$SPACING_6: 0.375rem;
$SPACING_8: 0.5rem;
$SPACING_12: 0.75rem;
$SPACING_14: 0.875rem;
$SPACING_16: 1rem;
$SPACING_20: 1.25rem;
$SPACING_24: 1.5rem;
$SPACING_32: 2rem;
$SPACING_36: 2.25rem;
$SPACING_40: 2.5rem;
$SPACING_64: 4rem;
$SPACING_72: 4.5rem;
