/* #SETTINGS - FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$HEADING_ONE: 2.875rem;
$HEADING_TWO: 2rem;
$HEADING_THREE: 1.875rem;
$HEADING_FOUR: 1.5rem;
$BODY_TEXT: 1rem;
$BODY_TEXT_SM: 0.875rem;

$FONT_BODY: "Poppins", sans-serif;
