/* #SETTINGS - COLOURS
		1. Colours default
*/

// 1. Colours default
$WHITE: #ffffff;
$LIME: #dfff65;
$LIGHT_LIME: #f9ffe3;

$DARK_GREY: #18181a;
$DISABLED_GREY: #1e1e1e;
$DARK_GREY_RGBA: rgba(24, 24, 26, 0.05);
$HIGHLIGHT_GREY: #323234;
$HIGHLIGHT_LIGHT_GREY: #575757;
$MEDIUM_GREY: #262626;
$MEDIUM_LIGHT_GREY: #3a3a3e;
$LIGHT_GREY: #b7b7b7;
$LIGHER_GREY: #f2f0f3;

$ERROR: #ff5252;
$SUCCESS: #77f37c;
$WARNING: #ecac4e;
$ERROR_DARK: #352b2c;
$SUCCESS_DARK: #3c493f;

$ERROR_RGBA: rgba(255, 74, 74, 0.3);
$SUCCESS_RGBA: rgba(128, 255, 74, 0.3);
$WARNING_RGBA: rgba(255, 237, 53, 0.3);

$TOURQUISE: #65f6ff;
$ORANGE: #ffc165;
$LIGHT_GREEN: #65ffb5;
$BLUE: #65b5ff;
$PURPLE: #a079f3;

$TRANSPARENT: transparent;
