/* #SETTINGS - SPACING */
$SPACING_XXXXS: 0.25rem;
$SPACING_XXXS: 0.5rem;
$SPACING_XXS: 0.75rem;
$SPACING_XS: 1rem;
$SPACING_SM: 1.5rem;
$SPACING_MD: 2rem;
$SPACING_LG: 4rem;
$SPACING_XLG: 6rem;

/* NEW */
$SPACING_24: 1.5rem;
$SPACING_36: 2.25rem;
$SPACING_64: 4rem;
$SPACING_72: 4.5rem;
