/* #SETTINGS - SPACING */
$SPACING_XXXXS: 0.25rem;
$SPACING_XXXS: 0.5rem;
$SPACING_XXS: 0.75rem;
$SPACING_XS: 1rem;
$SPACING_SM: 1.5rem;
$SPACING_MD: 2rem;
$SPACING_LG: 4rem;
$SPACING_XLG: 6rem;

/* NEW */
$SPACING_2: 0.125rem;
$SPACING_4: 0.25rem;
$SPACING_5: 0.313rem;
$SPACING_6: 0.375rem;
$SPACING_7: 0.438rem;
$SPACING_8: 0.5rem;
$SPACING_10: 0.625rem;
$SPACING_12: 0.75rem;
$SPACING_14: 0.875rem;
$SPACING_16: 1rem;
$SPACING_18: 1.125rem;
$SPACING_20: 1.25rem;
$SPACING_21: 1.313rem;
$SPACING_24: 1.5rem;
$SPACING_26: 1.625rem;
$SPACING_28: 1.75rem;
$SPACING_30: 1.875rem;
$SPACING_32: 2rem;
$SPACING_36: 2.25rem;
$SPACING_40: 2.5rem;
$SPACING_45: 2.813rem;
$SPACING_48: 3rem;
$SPACING_50: 3.125rem;
$SPACING_56: 3.5rem;
$SPACING_62: 3.875rem;
$SPACING_64: 4rem;
$SPACING_68: 4.25rem;
$SPACING_70: 4.375rem;
$SPACING_72: 4.5rem;
$SPACING_80: 5rem;
$SPACING_100: 6.25rem;
$SPACING_120: 7.5rem;
$SPACING_190: 11.875rem;
$SPACING_250: 15.625rem;
$SPACING_300: 18.75rem;
$SPACING_375: 23.438rem;
